[2016-09-06 10:42] kipcole9 opened #1 "Does not support exponent grouping in scientific formats"
TR35 states that for scientific formats (i.e. mantissa and exponent):

Cldr does not currently support such functionality.

[2016-09-06 11:00] kipcole9 opened #2 "Conditional inclusion of CLDR components"
Cldr consists of a lot of static text, multiplied by up to 511 locales.  Today the number of locales can be configured but not the CLDR components requested.  As more functionality is added, the more the memory footprint will grow.

The idea is to be able to configure in `mix.exs` which components are to be included in an installation.  Something like:

[code]

And then conditionally compile those

[2016-09-06 14:59] kipcole9 opened #3 "Scientific format doesn't honour forced positive sign on exponent"
A format like `#E+0` should force a localised `+` sign in the exponent.  Negative exponents are fine.

Now:
[code]

Should be:
[code]

[2016-09-06 15:32] #3 closed

[2016-09-07 23:40] kipcole9 opened #4 "Download locale data only when required to reduce install package size"
The CLDR repository in json form is over 600Mb which is too large to be reasonable for an installable package.  Given that most production uses would be apply considerably less than the available 511 locales a different strategy is required.  The planned approach is as follows:

1.  The full data will remain in the github repo and the code can continue to be used directly from github.

2.  A mix t

[2016-09-12 10:02] kipcole9 commented on #4
Fixed in v0.0.2.

[2016-09-12 10:02] #4 closed

[2016-12-01 13:58] kipcole9 opened #5 "Number.to_string doesn't correctly select number system for a locale when using :default"
`Number.to_string 123, locale: "ar"` should use the `:default` number system for locale "ar" but it uses instead the default of the current locale.

[2016-12-01 13:59] #5 closed

[2016-12-03 05:35] kipcole9 opened #6 "RBNF private rulesets are defined as public"
RBNF defines access to a ruleset as either 'public' or 'private'.  Cldr is defining them all as public which pollutes the public api.

[2016-12-03 06:36] #6 closed

[2016-12-03 11:08] kipcole9 opened #7 "Some RBNF functions need the "root" locale but its not configured by default"
To output roman numbers and several other RBNF formats the "root" locale is required but its not configured by default.

[2016-12-03 11:21] #7 closed

[2016-12-04 03:20] kipcole9 opened #8 "Downloading configured locales does not work if ex_cldr is installed from Hex"
Due to my misunderstanding on how the priv dir works and how Mix fits into hex packages and releases the mechanism to download configured locales is quite incorrect.  As a result, configured locales are not installed as expected and the mix task `cldr.install.locales` fails miserably.

[2016-12-04 03:21] kipcole9 opened #9 "Elixir 1.4 issues warnings for unused module attributes"
This is mostly a good thing, but in the few cases where credo hints are applied with the @lint module document we end of with some undesired warnings.  Better to remove them and solve the credo issues by configuration or another way,

[2016-12-04 03:23] kipcole9 opened #10 "Flow is optional so compiler issues warnings if its not installed"
The cldr.consolidate mix task consolidates multiple different json files into one consolidated locale file.  This process uses Experimental.Flow but that declared as an option hex package and therefore not installed by default.  Therefore the compiler issues a warning when compiling Cldr.Consolidate when Experimental.Flow is not installed.

[2016-12-04 14:27] #8 closed

[2016-12-05 02:48] #9 closed

[2016-12-06 05:38] kipcole9 opened #11 "Cldr.Number.to_string 123, currency: :AUD should default for format :currency but isn't"
`Cldr.Number.to_string 123, currency: :AUD` should expand to `Cldr.Number.to_string 123, format: :currency, currency: :AUD` but isn't, its defaulting to :standard.

[2016-12-06 07:31] #10 closed

[2016-12-06 07:31] #11 closed

[2016-12-10 23:59] vraravam opened #12 "Doesn't compile"
I'm trying to incorporate your library `ex_money` into my phoenix app. When I try to compile, this is what I get:
<img width="959" alt="screen shot 2016-12-11 at 5 23 13 am" src="https://cloud.githubusercontent.com/assets/69629/21077007/179718b6-bf62-11e6-9e96-d6c392b43796.png">

Could you please fix asap?

[2016-12-11 00:26] kipcole9 commented on #12
Vijay, thanks for the report.  The Plug is not complete as you can see so my temporary fix will be to not compile that module at all.  I will have a new version on hex within an hour.

[2016-12-11 00:36] kipcole9 commented on #12
Vijay, update you deps to `{:ex_cldr, "~>  0.0.13"}` or run `mix deps.update ex_cldr` and you should be good to go.  Note that I have disabled the compilation of `Cldr.Plug` since its not implemented yet.

[2016-12-11 00:36] #12 closed

[2017-02-18 18:49] wojtekmach opened #15 "Always using international currency symbols"
Hello!
Is this possible to always use international currency symbols (EUR, USD) etc, instead of localized symbols (€, $)? Per the spec it should be left to the application [1].

E.g.: I'd like to be able always represent numbers in the format `123,456.78 EUR` regardless of the locale (however, `,` and `.` would be replaced with appropriate symbols specific to locale)

If it's not currently possibl

[2017-02-18 19:01] wojtekmach commented on #15
Sorry for the noise, I had wrong test setup and didn't realize passing `format:` solves this nicely:

[code]

I think it would still be nice to specify the symbol as per the spec, but above workaround should be good enough.

[2017-02-18 19:01] #15 closed

[2017-02-18 21:05] kipcole9 commented on #15
Wojtek, thats a good ask.  I’ll take a look at the code today, shouldn’t be too much of an issue.

[2017-02-19 03:03] kipcole9 commented on #15
Wotjek, I wouldn’t recommend that format string.  The currency formats do more than just format the string.  They:

1. Round to the nearest minimum unit (ie. CHF round to the nears 0.05, JPY rounds to the nearest 0.00)
2. Round correctly to the right number of decimal places (using bankers rounding by default)

**Also note that the currency symbol can be inserted in the format string**.  The relev

[2017-02-19 07:05] wojtekmach commented on #15
Excellent, thank you!

[2017-04-26 09:10] jayjun opened #16 "Support Poison 3.0"
Most of the libraries I'm using have moved to Poison 3.0+, leaving this package as the last holdout.

Sometimes, both major versions are supported by specifying `"~> 2.2 or ~> 3.0"`, including [Phoenix 1.3](https://github.com/phoenixframework/phoenix/blob/master/mix.exs#L52).

Moreover, [devinus/poison](https://github.com/devinus/poison) doesn't show a 2.0 branch so I'm not even sure if any fixes

[2017-04-27 00:44] kipcole9 commented on #16
Updated cldr to version 0.2.0 with dependency `"~> 2.1 or ~> 3.0`.  Also now only runs on Elixir 1.4.  See the change log for other changes -> mostly to do with the first phase of localising dates/datetimes

[2017-04-27 00:44] #16 closed

[2017-07-07 16:16] jayjun opened #17 "Fails to compile when default locale isn’t "en""
### Steps to Replicate

1. Create a new Mix project and add Cldr as a dependency.

[code]
2. Set `default_locale` to `en-SG`.
[code]

3. Run `mix do deps.get, compile`.

### Stacktrace

[code]

### Reason

Under these circumstances, compile-time code in the `Cldr` module ends up calling itself with `Cldr.all_locales/0`, which doesn’t exist yet.

[2017-07-08 01:04] kipcole9 commented on #17
Fixed in [release 0.4.2](https://hex.pm/packages/ex_cldr).  Thanks for the bug report.

[2017-07-08 01:04] #17 closed

[2017-10-04 07:51] LostKobrakai opened #19 "Issue compiling on windows"
`Cldr.Install.ensure_client_dirs_exist!` does try to create the following directories on windows:

[code]

For the following correct path:  `c:/Users/fklement/Desktop/connect/…`

Noticed by @fklement

[2017-10-12 19:30] Schultzer opened #21 "Territory Subdivisions"
Hi, @kipcole9
I would like to contribute to CLDR.

I'm in need of Territory Subdivisions data so I can list all the cities from each country or list all countries.

how would you like to see it implemented.?
If you got any advise it would be nice.

Thanks for this library ❤️

[2017-10-13 00:21] kipcole9 commented on #21
@schultzer, thanks for the support and encouragement.

CLDR has some data related to subdivisions as I think you know - but as best I understand it, it encapsulates only countries (territories) down to major subdivisions.  The content is in [the core zip file](http://www.unicode.org/Public/cldr/31.0.1 <http://www.unicode.org/Public/cldr/31.0.1>):

* supplemental/subdivisions.xml which describes th

[2017-10-13 19:27] Schultzer commented on #21
@kipcole9 I see, I have to think more about this, I looked into http://geonames.org but that's not quite what I'm looking for, what I'm looking for is to list all countries and their cities with a specific locale :)
So I thought that using CLDR Territory Subdivisions would solve that.

similar to how twitter-cldr has World Territories where you can do
```:us.localize(:es).as_territory # estados un

[2017-10-14 03:55] kipcole9 commented on #21
Down to the country level thats pretty easy to add to ex_cldr.  But there is no city information (or any regional info below state/province level) in CLDR that I’m aware of.

If thats enough for you then I would suggest implementing it in a separate package that depends on ex_cldr.  If you reach the conclusion that its something you want to collaborate on, I’ll update ex_cldr to make the data avai

[2017-10-23 01:53] kipcole9 commented on #2
Done from ex_cldr version 0.7 onwards.

[2017-10-23 01:53] #2 closed

[2017-10-23 01:54] kipcole9 commented on #21
@Schultzer ping!  Any additional thoughts on the above?

[2017-10-24 19:29] Schultzer commented on #21
@kipcole9 I been reading through ex_cldr to get the gist of it.
I got some additional questions before I try to start an implementation.

* What is the reasons behind consolidating each JSON to one huge file
why not just conform to the repository?

* I never wrote a lexer before is there a performance benefit compared to just parsing the JSON through Poisons and work on the map?

My initial though

[2017-10-24 22:40] kipcole9 commented on #21
@Schultzer, very fair question.  The way the lib is structured (and more clearly in the upcoming 0.8) is that `ex_cldr`'s primary responsibility is data organisation and locale management.  Then the dependent libs like `ex_cldr_numbers`, `ex_cldr_dates_times`, `ex_cldr_units` and `ex_cldr_lists` implement relevant functionality for that part of the CLDR domain.

### Assumptions about locale packag

[2017-10-25 15:07] #19 closed

[2017-10-25 15:17] kipcole9 commented on #19
Updated on hex as ex_cldr 0.8.1

[2017-10-25 15:18] LostKobrakai commented on #19
Cool, so I can update my deps to no longer use my custom branch :D

[2017-10-25 15:32] kipcole9 commented on #19
You'll want:

ex_cldr 0.8.1
ex_cldr_numbers 0.2.0
ex_money 0.7.0

All the tests are green on Elixir 1.5 and on master so I'm optimistic all is ok; there's been a lot of refactoring going on lately and I'm not quite done yet as I head towards 1.0 by years end.

[2017-10-25 15:36] LostKobrakai commented on #19
yeah, I already notices ex_cldr_units being behind, but it's not in any way urgent

[2017-10-25 15:50] kipcole9 commented on #19
units and lists coming in the next 30 minutes :-)

[2017-10-25 15:51] kipcole9 commented on #19
ex_cldr_dates_times coming in the next 5 minutes

[2017-10-27 18:15] Schultzer commented on #21
@kipcole9 Thanks for the explanation.
I'll take a look at the `ex_cldr_units` package you have for some inspiration.

[2017-10-29 23:05] Schultzer commented on #21
Hi @kipcole9,
I've now made an initial implementation of the [`ex_cldr_territories`](https://github.com/Schultzer/cldr_territories)

It would be nice with some feedback and advise to the API.

[2017-10-31 07:18] Schultzer commented on #21
@kipcole9  I made a branch [`ex_cldr`](https://github.com/Schultzer/cldr/tree/add-territories-data) that retrieve and consolidate the primary data needed for  [`ex_cldr_territories`](https://github.com/Schultzer/cldr_territories).

I tried to make a pull request but I get a weird error from GitHub that the page is taking to long to load.

Anyway, I'm not quite sure if my implantation in [`ex_cldr`

[2017-10-31 14:09] kipcole9 commented on #21
@schultzer I had the same issue trying to look at the branch you built.  In parallel I had also started work.  On master branch now there are two new functions:

* `Cldr.Config.territory_containment/0`
* `Cldr.Config.territory_info/0`

Next, and I think last, step for the `ex_cldr` part is to build in the localised territory names.  As you pointed out, this is quite a lot of data and perhaps conso

[2017-10-31 20:47] Schultzer commented on #21
I just want to share some thoughts I had lately.

As mentioned before the `JSON` repository of [`unicode-cldr`](https://github.com/unicode-cldr/) is very sparse with its data compared to the main `XML` repository,
with that in mind, it makes me question if its the right way to go with the `JSON` repository or if we would gain more with using the main `XML` repository.

So let's imagine that we go

[2017-10-31 23:07] kipcole9 commented on #21
Good thought - and indeed the earliest versions of ex_cldr were built using the XML repository.  I found myself in XML parsing hell and thats why I changed to the JSON versions - even though the data organisation is different.

At this point I'm not feeling strongly compelled to go back to the XML content for three main reasons:

1. It would require a complete rewrite of the data parsing code (mos

[2017-11-01 00:27] Schultzer commented on #21
First of all my bad, I hadn't realized that most of the data is there.
So it would be possible to make those functionalities that I would like.

So, in the end, it actually comes down to how we represent the data.
as I think you know what I really want to be available to achieve is basically get the relative information from a territory for each locale and the non-localized data.

it's would reall

[2017-11-01 08:46] kipcole9 commented on #21
If you take a look at ex_cldr master (also on hex as version 0.9.0) you'll find three functions that get you most (but not all) of the way.  Your feedback will help work out the strategy for the rest.  Some questions:

1. Unit and Measurement preference data (i.e. unitPreferenceData.json and measurementData.json) could be added - its a bit fiddly so doesn't naturally rank high on my priorities - b

[2017-11-01 09:04] Schultzer commented on #21
First of all, it's beautiful ❤️

1. This is not top priority right now but I definitely reckon that it should be available at some point.
2. I Agree on no duplication.

one way could be that `ex_cldr_territories` handles the representation of the unit and measurement data, but I'm not sure if that would be the right way to go.

[2017-11-01 12:19] kipcole9 commented on #21
Cool, glad its on the right track.  Turns out that the postal code regexes were removed in CLDR 26 because they weren't being maintained so unlikely that they can be added.

I've added measurement system data now in `master` and will add to hex soon. I'll keep plugging away on:

* Calendar Preferences
* Unit Preference Data

and work out how to best handle the localised territory names - probably

[2017-11-12 12:36] LostKobrakai opened #23 "GenStage/Flow in mix.exs"
Can we limit the usage of genstage/flow to only a certain mix env or maybe make it runtime: false? From what I can tell it's not going to be used in compiled production code.

[2017-11-12 12:41] kipcole9 commented on #23
I’m a bit conflicted on this too.  Flow is only used at compile time in Cldr.Config but it makes a big difference on my machines from a performance perspective.  Setting Flow to `runtime: false` was getting conflict errors from Mix since GenStage isn’t set that way.  I’ll do some more experimentation in my morning and see if I can reduce the requirement. I agree it would be preferable to avoid hav

[2017-11-12 13:43] LostKobrakai commented on #23
Setting both as `runtime: false` seems to not cause any issue on a small test I did without actually using flow.

[2017-11-12 18:21] kipcole9 commented on #23
Agreed, I tried the same.  I need to test with a release to make sure that also works which I’ll do later today.

[2017-11-12 20:55] kipcole9 commented on #23
Refactored the code in `Cldr.Config.known_number_system_types/0` to use `Task.async_stream/3` rather than `Flow`.  Removed the dependency for `Flow` and set `GenStage` to be `optional: true, only: [:dev, :test]`

Push to hex as 0.13.1.

Thanks for the prompt, this feels much cleaner.

[2017-11-12 20:55] #23 closed

[2017-11-13 00:46] LostKobrakai commented on #23
I think with GenStage only be used in `:dev` and `:test` it wouldn't even need to be optional.

[2017-11-13 00:56] kipcole9 commented on #23
I left it optional because GenStage is only used for the mix task to consolidate - and realistically thats something only i would do when a new CLDR release is made.

If i understand correctly, a client library using ex_cldr would install GenStage in `:dev` and `:test` if it wasn't optional.  Which I think we both agree shouldn't be a requirement for most people?

[2017-11-13 01:02] LostKobrakai commented on #23
Ah sure, I must have misread something about that earlier today.

[2017-11-14 09:09] #21 closed

[2017-11-14 09:29] kipcole9 opened #24 "Cldr.Plug.Locale - design thoughts"
The last functional part to be developed before Cldr version 1.0 is a plug to parse the `accept-language` header and set the locale.  I'm looking for feedback on the following.

There are at least 3 places in an HTTP request to look for a locale
  * `accept-language` header
  * a `locale` parameter like `https://domain.com/content?locale=en`
  * a `locale` segment in an URL like `https://domain.co

[2017-11-14 09:45] LostKobrakai commented on #24
I'd vote for keeping it simple and let the plug only do the work, which is unlikely to involve project specifics, so your third option.

Both a GET param as well as a URL segment will most likely be generated on the backend and can therefore already specify only known cldr languages/locales. So to match one only needs to do `Cldr.known_locale_name?(locale_name)` and can go on with setting the loca

[2017-11-14 22:40] danschultzer commented on #24
I would prefer the second option, with a default configuration that goes `already assigned` -> `query parameter` -> `accept language` -> `default locale`, and with an option for custom strategies. The locale might be set as a cookie or in the session. If there's authentication in the app, it'll often be part of the user struct and it'll either be found in the session or directly set in the plug wh

[2017-11-15 21:50] kipcole9 commented on #24
@LostKobrakai, @danschultzer Thanks for the feedback. I have added two plugs to the master branch (untested):

* `Cldr.Plug.AcceptLanguage` only parses the accept language header, does a "best match" and sets a private key in the conn

* `Cldr.Plug.SetLocale` is more "full featured" and will set the locale for cldr and/or gettext from a locale specified in the accept-language, url, query or body p

[2017-11-15 22:20] LostKobrakai commented on #24
I really like the separation of the two. The second plug could sport retrieval from a session key as well to hit all use-cases I'd expect.

[2017-11-15 22:45] kipcole9 commented on #24
Good point  - I’ll add the session key option as well.

[2017-11-17 23:12] kipcole9 commented on #24
I'm closing this issue since the plugs are implemented.  Please feel free to open issues on the plugs if you see any problems or have any requirements that fit in the scope.

I'm going to focus now on documentation only with the aim to push a 1.0-rc-0 by the end of the weekend.

[2017-11-17 23:12] #24 closed

[2017-11-19 20:59] Schultzer opened #25 "[BUG] Cldr.Normalize.Currency remove or overwrite essential data"
Hi @kipcole9,

There is a bug in Cldr.Normalize.Currency

When we normalize the `currencyData.json` we end up with a map but the problem is that some countries have multiple entries of the same currency code for example "PS" [`L2568-L2591`](https://github.com/unicode-cldr/cldr-core/blob/84fbf749dd3067781b032dd168cbc6d863a25934/supplemental/currencyData.json#L2568-L2591) the `JOD` appears twice so

[2017-11-19 21:39] kipcole9 commented on #25
Great catch!  i’ll fix today and add a test for this.  Thanks much for the report.

Sent from my iPhone

[2017-11-21 20:55] #25 closed

[2017-11-21 20:55] kipcole9 commented on #25
fixed in master and pushing release candidate 1 now.

[2017-12-04 02:13] kipcole9 commented on #1
Issued moved to cldr_numbers.

[2017-12-04 02:13] #1 closed

[2017-12-07 13:24] LostKobrakai opened #26 "Cldr.Normalize.LanguageName incomplete copy of Cldr.Normalize.TerritoryNames"
It seems like Cldr.Normalize.LanguageName was copied from Cldr.Normalize.TerritoryName, but things like moduledoc / function names wheren't updated.

[2017-12-08 12:15] #26 closed

[2018-01-05 18:02] doughsay opened #28 "ex_cldr 1.1.0 not compiling under elixir 1.6.0-rc.0"
When trying to compile my app which depends on ex_cldr using Elixir 1.6.0-rc.0, it fails with this message:

[code]

[2018-01-05 21:46] doughsay commented on #28
I'm not sure what I did, but I fiddled with it enough to where it compiles now... Sorry for the false alarm!

[2018-01-05 21:46] #28 closed

[2018-01-05 22:10] kipcole9 commented on #28
Chris, thanks.  I can't reproduce it (I test on 1.5, 1.6 and master). Any chance you have the steps to reproduce since I think its an Elixir bug.

I can't track down the relevant code - i think its in the generated `Module.__info__` function which, I assume for now, is calling `:erlang.module_info(Plug.Conn, :deprecated)` which definitely produces the error you saw.   `Plug.Conn.__info__(:deprecat

[2018-01-05 23:36] doughsay commented on #28
I can't reproduce it anymore.  I ran `mix clean; mix deps.clean --all; rm -rf _build` and just started fresh and everything worked as expected.  No problems here I guess; thanks for looking into it though!

[2018-01-05 23:41] kipcole9 commented on #28
Understood, thanks much.  Looks like it might be an error produced when modules compiled on different elixir versions - which would explain why its all good after you removed the `_build` directory.  Thanks for following up.

Let me know too if your have any comments or enhancement requests for cldr.

[2018-01-08 08:07] LostKobrakai opened #29 "Cldr.known_currencies spec vs example"
The spec suggests a list of strings being returned, the example says it's a list of atoms.

[2018-01-08 09:23] #29 closed

[2018-01-08 13:59] LostKobrakai opened #30 ":json_library or :json_lib"
`Cldr.Config` does check for `:json_lib` in the application env instead of the documented `:json_library`.

[2018-01-08 17:06] #30 closed

[2018-01-08 17:09] kipcole9 commented on #30
Published on hex as version 1.2.0

[2018-01-18 14:57] BrummbQ opened #32 "Not loading gettext locales (v1.3)"
Hi,
How am I supposed to use cldr with gettext in a phoenix app? I configure my Gettext module properly and set it in the cldr config. But Cldr.known_gettext_locale_names just returns []

Surprisingly, if I change your code to
[code]

Everything is working as expected. Somehow the gettext locales are not available at compile time

[2018-01-18 15:03] BrummbQ opened #33 "Locale extraction with Cldr.Plug.SetLocale"
The locale parameter extraction in this plug puzzles me. See i.e. this route:
[code]
Which configuration should i use? `SetLocale, apps: [:gettext, :cldr], from: [:url]` isn't working. Looking at the code I don't understand the parameter url_params. conn.url_params doesn't even exist here

Have a nice day!

[2018-01-18 16:22] kipcole9 commented on #33
Thanks for the report.  Definitely incorrect to be using `url_params` and I have corrected this now on master to be the correct `path_params`.  That will also mean it will be `SetLocale, apps: [:gettext, :cldr], from: :path`

I believe in Phoenix the right way to invoke this (with the corrected `:path` option) is to include `Cldr.Plug.SetLocale` into a pipeline.  Using the Phoenix docs as a guide

[2018-01-18 16:56] kipcole9 commented on #32
Curious, I can't current reproduce what you're seeing.  I have made the change to use:
[code]
Since that is much better than the 'old' code I had.  Thanks very much for spotting this.

I'll continue to test to see if I can reproduce.  I have updated master on GitHub with the changes you proposed though so I wonder if you are still seeing the issue.  Would you be able to check against the GitHub ma

[2018-01-19 01:07] kipcole9 commented on #33
Fixed in [version 1.3.1](https://hex.pm/packages/ex_cldr) which is now on hex.  I have created a couple of test cases in `test/plug/plug_router_test.exs` to validate that the `pipeline` approach is the way to go.  I fixed a couple of bugs as well.

Sorry for the inconvenience and hope you find this issue is now resolved.

[2018-01-19 01:07] #33 closed

[2018-01-19 01:11] kipcole9 commented on #32
I'm still not able to reproduce.  I have released version 1.3.1 to fix #33 that you reported which also has some very slight changes to the code in this area.

Would you mind checking in 1.3.1 resolves this?  If not I will continue to work out what the issue is.

[2018-01-19 01:21] kipcole9 opened #34 "Cldr.Config.default_locale/0 does not set :gettext_locale"
Cldr.Config is responsible for creating the language tag for the default locale since most of Cldr is not available at the compile time of Cldr.Config.  As a result Cldr.Config has code the duplicates parts of `Locale.canonical_language_tag/1` but it's not setting `:gettext_locale` in the language tag map.

[2018-01-19 10:36] kipcole9 commented on #32
Thanks very much for the investigation and demo app, I really appreciate it.  I will work out whats going on over the weekend with an objective to resolve and release by the end of the weekend.

[2018-01-20 05:11] kipcole9 commented on #32
I have fixed this in the master branch and will push it as [ex_cldr version
1.3.2](https://hex.pm/packages/ex_cldr). There was one bug relating to the detection of the default
locale for a Gettext backend (i.e. like `LocaleBugWeb.Gettext` in your example). But there is also
a couple of misconfigurations.

In your example `config :locale_bug, LocaleBugWeb.Gettext, default_locale: "en", locales: ~w(

[2018-01-20 12:02] BrummbQ commented on #32
Thanks for your work, but I'm afraid its still not working out :/ You can reproduce the bug another way:
1. configure gettext and cldr your way
2. compile cldr
3. run iex interactively: `iex -S mix`
4. Execute Cldr.known_gettext_locale_names
[code]
But:
[code]
For me the SetLocale plug is still not doing his job. If I access a german route (via path parameter), cldr correctly translates to german,

[2018-01-20 13:02] kipcole9 commented on #32
Would you mind configuring to run off the GitHub master branch while we work this out?

The loading issue I have finally worked out and I understand why its not an issue in my dev environment.  Its not possible at compile time to derive the Gettext locale names.  I've changed it to now be a runtime concern and the test app now delivers the correct locales.  I am hopeful this also resolves the Plug

[2018-01-20 13:10] kipcole9 commented on #32
I still have a couple of collateral issues to now fix since there are other areas that have been depending on that (incorrect) compile time optimisation.  Working on them now.

[2018-01-20 13:33] kipcole9 commented on #32
Turns out is a design flaw which means this is going to take a bit of a rethink about how I can determine at dependency compile time what the configured Gettext locale names are.  And it may not be possible.

May I suggest for the moment that you change your configuration to duplicate the Gettext locale configuration in Cldr - so that at least you can move forward while I a new design approach?
[c

[2018-01-20 13:42] kipcole9 commented on #32
I'm also reverting the previous commit referenced two messages above - its the wrong strategy.  I need to fix the design flaw if I can.

That means for now `Cldr.known_gettext_locale_names` will still return `[]` because at compile time I can't currently determine them.  `Cldr.Config.gettext_locales` will return the correct result because it executes at runtime.

[2018-01-22 15:03] kipcole9 commented on #32
Its been an interesting journey but I have found a reasonable way to solve this issue - and as a side affect Cldr will now recompile itself if it detects a locale configuration change.

The underlying issue is that Elixir will compile dependencies before compiling the host application.  This means, of course, that the `Gettext` module in the host application is not available when `Cldr` is compile

[2018-01-22 15:12] kipcole9 commented on #34
This issue is resolved in [this commit](https://github.com/kipcole9/cldr/commit/027154cd6730569123ed275ec7696eae1e9cc16a) which adds automatic recompilation of modules when the locale configuration changes.

[2018-01-22 15:12] #34 closed

[2018-01-26 10:21] kipcole9 commented on #32
I have just now pushed what I hope is the [final commit](https://github.com/kipcole9/cldr/commit/6710d200331f26dd6e50bf1ceadd86c87df483ff) to address this issue.  I've been testing it for a while but its a manual process - I haven't found a good test approach for this yet.  I have one more scenario to test which is when the changed configuration requires downloading a Cldr locale.

If you of a min

[2018-01-26 13:15] BrummbQ commented on #32
Hello, Thanks for your work, I tried to follow but it was a little bit hard :)

Anyway, with your latest commit...
First try I just updated ex_cldr and the configuration and rebuild my existing project:
[code]
Then I cleared my build and started again:
[code]
So I'm not sure what this means, but I can't start the application right now

[2018-01-26 13:49] kipcole9 commented on #32
Thanks for your patience.  I tested with Cldr, Cldr_Numbers and Cldr_Dates_Times but not Cldr_Units.  There was an issue with `ex_cldr_units` which I had to fix and I have now [published version 1.1.1 on hex](https://hex.pm/packages/ex_cldr_units).

If you
[code]
and then try recompiling I think we may be able to move forward.  I am still using your test app and using the same dependencies so I th

[2018-01-26 15:49] BrummbQ commented on #32
Okay great, almost there:
[code]
And its up and running.

Ironically I need to run `mix deps.compile ex_cldr --force` first before I can start the app. It kinda contradicts the "auto-recompile" feature doesn't it? :)

[2018-01-26 21:54] kipcole9 commented on #32
Wow:
[code]
Thats a lot of Cldr :-) Very happy we're nearly there but it shouldn't be necessary to force recompile `ex_cldr`. And:
[code]
Is clearly not right either (and its not happening in my testing either).

Does it happen if you delete all the build artefacts and clean compile?  i.e.:
[code]

[2018-01-26 22:19] kipcole9 commented on #32
Fixed the issue with plug compiling by adding Phoenix as a dependency (optional) so that `plug` is compiled before `ex_cldr`.  On the test app it now compiles correctly without any errors.  Would you mind trying one more time?
[code]
Fingers crossed.

[2018-01-28 01:05] kipcole9 commented on #32
After some more testing I've elected to publish a release candidate.  I've tested it agains the `locale_bug` app with all Cldr dependent apps configured and it seems to work correctly.  Would you consider trying it on your end.  In your mix.exs:
[code]
Let me know how that goes?

[2018-01-31 07:07] danschultzer opened #38 "`default_locale` issue"
I went from 1.3.2 to master with the following config:

[code]

But I got this error:

[code]

To fix it, I had to add the following:

[code]

Is this expected behavior? If it is, then it should have a proper warning.

[2018-01-31 08:27] #38 closed

[2018-01-31 08:28] kipcole9 commented on #38
Fixed on master.  Thanks for the report.

[2018-01-31 08:57] kipcole9 commented on #38
Published on hex as version 1.4.0-rc.1

[2018-01-31 10:01] LostKobrakai opened #39 "Missing github tag"
I currently get those errors with the rc.1:

[2018-01-31 10:07] #39 closed

[2018-02-02 11:11] BrummbQ commented on #32
Sry, I was busy the last couple of days.

But I just updated my app to rc3 and everything is working as expected now. We are good to go!

[2018-02-02 14:09] phtrivier opened #41 "Documentation for 1.3.2 uses `config :cldr` (instead of `config :ex_cldr` ?)"
Following https://hexdocs.pm/ex_cldr/readme.html#getting-started, I just installed `cldr` from hex adding this in my `mix.exs`:

[code]
This gets me 1.3.2.
The documentation (and the README.md from master) explain to configure with:

[code]

However I could not download any locale other than ["en-001", "root"]. After some googling I found that this other way to configure existed:

[code]

This see

[2018-02-02 17:07] mbenatti opened #42 "Not found locale for `pt-BR`"
Using       {:ex_money, "~> 2.1.0-rc.1"}
Elixir 1.6

[code]

[2018-02-02 21:49] LostKobrakai commented on #42
As far as I can see there's no dataset for pt-BR in cldr: https://github.com/unicode-cldr/cldr-localenames-full/tree/master/main

[2018-02-02 23:29] kipcole9 commented on #41
@phtrivier Thanks very much for the catch,  its a documentation bug.  The correct configuration is always on the `:ex_cldr` key (`ex_cldr` being the name of the package as you know).  I will fix on master.  I plan to push version 1.4 this weekend and this will be included.

[2018-02-02 23:50] kipcole9 commented on #42
The locale `pt-BR` exists in the master XML data for CLDR version 32 (the current version) but for some reason not in the json data for version 31 or 32.

Some googling suggests that Unicode considers Brazilian Portuguese as the canonical form and therefore the locale "pt" is Brazilian Portuguese.  I cannot verify that myself since I don't speak any kind of Portuguese.  Would you consider selectin

[2018-02-02 23:55] kipcole9 commented on #42
Sent to the `cldr-users@unicode.com` mailing list:

[2018-02-03 04:22] #41 closed

[2018-02-03 05:33] kipcole9 commented on #32
Thanks for the feedback. I've got a couple of commits to go before 1.4 gets released (to do with the `:cldr` compiler on Elixir 1.5 which requires a different approach since there is no `Mix.Task.Xref.calls/0`.  I'll close this issue.

Thanks very much for your collaboration and patience - this was an interesting journey and give me a few ideas for restructuring for Cldr 2.0.

[2018-02-03 05:33] #32 closed

[2018-02-03 16:14] mbenatti commented on #42
@kipcole9 Using currency "BRL" I have the results expected...

[2018-02-03 16:14] #42 closed

[2018-02-04 20:24] kipcole9 commented on #42
Confirmed with the Unicode community that "pt" is Brazilian Portuguese.  This is consistent with the approach for "en" which is US english.

[2018-02-06 09:59] marceldegraaf opened #43 "Cldr.DateTime.to_string seems extremely slow"
Today we noticed that a specific page in our production Elixir/Phoenix application would load much slower than expected, sometimes taking 5+ seconds to load completely. Initially we suspected slow Javascript load times, but local debugging led us to this call in one of our view helpers:

[code]

Where `payment.inserted_at` is a UTC DateTime from a database table, retrieved with Ecto. I ran a profi

[2018-02-06 10:54] marceldegraaf commented on #43
Update: this seems to occur only on version 1.4.0 of `ex_cldr`. If I revert to version 1.3.0, the issue disappears. Let me know if you need more information to help you pin point the issue.

[2018-02-06 12:53] kipcole9 commented on #43
I apologise for the regression.

It’s not obvious to me how that crept into the release since no formatting code was touched.

I won’t be able to resolve during the rest of your day.  But since I’m in ask galore I should have a resolution by the time you start again in the morning.

Sent from my iPhone

[2018-02-06 12:54] marceldegraaf commented on #43
Awesome, no worries, we're fine on 1.3.0 now. Do let me know if we can help you with any additional debug/profile info.

[2018-02-07 07:36] kipcole9 commented on #43
First of all, thank you very much for the very helpful support to isolate the issue.  I configured the machine I'm on (a very modest original MacBook from 2015).
[code]
I ran your benchmark function with and without the `GettextModule` configured.  Gettext itself is configured with "en" and "nl" on the assumption that is what you are using.

For the benchmark I just used `DateTime.utc_now/0` which

[2018-02-07 07:54] kipcole9 commented on #43
One thing I notice is that you are using `locale: "nl"`, meaning a binary locale name.  Under the covers all locale names are parsed into a `%Cldr.LanguageTag{}` struct which is quite costly.  I ran your benchmark both using a binary locale name and a `%Cldr.LanguageTag{}`.  The difference is quite dramatic which is what I expected:
[code]
Therefore I have two actions to take from this investigati

[2018-02-07 08:30] marceldegraaf commented on #43
Thanks for your investigation and detailed comments. I've tried both your recommendations; here are my results.

### Without `gettext` module in configuration
This seems to reduce the median operation time significantly. Strangely my results are consistently lower than yours. Where your median operation time is around 500 µs, mine is just under 2ms. However, it's much better than the 2**s** in the

[2018-02-07 09:02] kipcole9 commented on #43
Curious to me that the magnitude of performance difference between this old slow MacBook from 2015 is so different to your machine but happy that the improvement is material.'

For the short term the approach I suggest is the following:

### Create a module like this:
[code]
### In your view code:
[code]
This will avoid the parsing issue.  I will put this code into Cldr such that it will automatic

[2018-02-07 10:00] benperiton opened #44 "module Poison is not available"
When switching to use Jason as the JSON library, I get the following warning:

warning: function Poison.decode!/1 is undefined (module Poison is not available)
  lib/cldr/config/rbnf_config.ex:106

Do I need to include both Posion and Jason as dependencies?

[2018-02-07 10:20] kipcole9 commented on #44
@benperiton, its not a requirement to define both and I'm bit perplexed that you're getting this error.  Here's my `dev.exs` on my development repo:
[code]
It seems like your config key might not be right?  If the key isn't right then the default would apply, which is `Poison`.

[2018-02-07 10:35] benperiton commented on #44
Hey,
My config for it is:

[code]

If it makes a difference, ex_cldr is not actually a direct dependency, but it comes from
[code]

It's not really a massive issue, I just like my output to be as clean as it can be :)

A fresh clone of https://github.com/benperiton/testexldr and mix deps.get && mix compile results in the warning.

Elixir: 1.6.1
Erlang: 20.2.2

[2018-02-07 12:08] kipcole9 commented on #44
Ahhh, you raise a good point.

I'll modify Cldr to check for either `Poison` or `Jason` as the default rather than default the default to `Poison`.  If you get my meaning.  That will mean Cldr and Money will default correctly since Money's default `json_library` is Cldr's default.

[2018-02-07 12:52] kipcole9 commented on #44
As of [this commit to master](https://github.com/kipcole9/cldr/commit/66cc8ace9cddcb31f030acb80dda78dba4f38d85) `Cldr` now autodetects the presence of either Jason (preferred) or Poison and sets the default `:json_library` accordingly.

Using the config key `:json_library` can be used as usual to configure any library that implements a `decode!/1` function.

[2018-02-07 12:52] #44 closed

[2018-02-07 12:53] kipcole9 commented on #44
This commit will be in Cldr 1.4.1 which I aim to have out in the next 24 hours.

[2018-02-07 13:50] benperiton commented on #44
Great, thanks!

[2018-02-07 14:59] kipcole9 commented on #43
I have [added a commit to the Cldr master branch](https://github.com/kipcole9/cldr/commit/1578fc43ec862bd1c4ab997ec6a2ff1743e91db3) that pre-computes the language tags for all Cldr locales and therefore the performance for binary locale names and for language tags is now the same.
[code]
All tests are passing and this is close to releasable as Cldr version 1.4.1 but I have one issue related to res

[2018-02-08 09:04] kipcole9 commented on #43
I have [pushed ex_cldr version 1.4.1](https://hex.pm/packages/ex_cldr/1.4.1) to hex.  Thanks very much for your collaboration and patience.

### Performance on 1.4.1

I ran the formatting test again with the following results using this version:

[code]
I'm leaving the issue open for now because I'm not totally convinced this was the root cause since the behaviour would have been the same between

[2018-02-08 13:17] marceldegraaf commented on #43
This is amazing. I've just installed `1.4.1` and can confirm it's working fast as usual again. Thank you so much for your swift and detailed responses and for pushing out this release so fast. Truly remarkable.

Cheers! 🍻

[2018-02-08 14:42] kipcole9 commented on #43
You're very welcome.  I think José and team set a high standard for good code and I just try to keep up 😄  Keep the bugs and suggestions coming!

I'll do some profiling of the code over the weekend and see if I can find what might have been the issue you saw that started this issue.

[2018-02-09 05:01] logicmason opened #45 "For nan-TW, script should be "Hant""
The locale "nan-tw", refers to the Taiwanese language (also known as Hokkien and Minnanyu). The script should be traditional Chinese ("Hant"), not simplified Chinese ("Hans").

[2018-02-09 06:25] kipcole9 commented on #45
@logicmason Thanks for the report.   I know how CLDR rules end up with the definition you describe - but Im not sure yet how to resolve it.  Let me describe how the locale resolution happens and a couple of thoughts and perhaps you can give me your feedback?

### Locale lookup

When a locale name is validated there are a few steps involved:

1. If the locale name is directly known to Cldr then the

[2018-02-09 10:13] logicmason commented on #45
I see two issues. The more general one is that the alias substitution in step 2 is impossible to get right for Chinese languages since the script is dependent on territory more than topolect. I don't have a good suggestion about how to handle this though since there are many, many other locales to worry about in this project.

The more specific issue is the transformation in step 3 is almost certa

[2018-02-09 10:37] kipcole9 commented on #45
@logicmason its this repo :-)

I use Cldr to mean this repo and CLDR to mean the Unicode CLDR data repository.  I should have made that clear.

But given your knowledge is clearly way better than mine (he says in embarrassment living Singapore a long time, been to Taiwan a lot and lived in China for 2 years) are you saying that basically the Unicode CLDR repository is incorrect and the source data

[2018-02-09 10:46] kipcole9 commented on #45
I should say there is always the possibility that I have a bug and that my implementation does not faithfully [implement TR35](http://unicode.org/reports/tr35/#Inheritance_and_Validity) for alias and sub tag substitutions but my tests are using TR35's documentation so I think its at least close!

Therefore if you write to the ` cldr-users@unicode.org` mailing list it would worth asking if its an i

[2018-02-09 10:52] logicmason commented on #45
I think it is an error. I just stumbled across this while working on another project. I'm not sure if I'm in a position to do much advocacy, but I left a ticket outlining essentially the same recommendation I just made here.

[2018-02-09 10:54] kipcole9 commented on #45
Thanks much for that, it get strangely attached to code I write and when it doesn't deliver to expectations I feel compelled to fix it.  So thanks for filing the issue.

I'll keep this issue open to remind me to check in the next release cycle of CLDR data (twice a year for main releases, occasional bug fix releases).

[2018-02-13 02:32] kipcole9 commented on #45
I can't see your bug report in the CLDR issues tracker - any change you could add the link to the issue you submitted here so I can keep track of its progress?

[2018-02-25 07:18] kipcole9 opened #51 "[Question] - Fail to find ex_cldr files on heroku (prod)"
_From @lypborges on February 19, 2018 0:41_

Thanks for the hard work on this project. But I have a question, in my dev (docker) env all works great when I try to deploy I get this error

`(File.Error) could not read file /tmp/build_47658951629831269e9a6090a7cd2754/lypborges-maestro_api-1052cc38a34d0a37d7ea741de1d3420eed528652/_build/prod/lib/
ex_cldr/priv/cldr/available_locales.json": no such fil

[2018-02-25 07:18] kipcole9 commented on #51
The compile process for cldr (which is the dependency that manages the data) requires a number of files that are in the `priv` dir of `ex_cldr`.  It sounds like when the dependency is pulled down into Heroku that the content isn't there for some reason.

Would you mind posting more of the log during the compilation phase?

[2018-02-25 13:15] kipcole9 commented on #51
Cldr version 1.4.4 appears to fix (or at least mitigate) this issue.  Closing the issue.

[2018-02-25 13:15] #51 closed

[2018-04-09 15:26] #43 closed

[2018-05-16 03:39] danschultzer opened #59 "Umbrella app usage"
With Gettext, each app in an umbrella app has its own configuration. However, with Cldr there's just one global configuration. This is an issue since you can configure Cldr to use a `Gettext` module, but there can be multiple Gettext modules.

I guess the best solution is to allow for individual app configuration, and make sure the combined Cldr data from all configurations has been downloaded. Ho

[2018-05-16 03:44] kipcole9 commented on #59
Dan, yes, you've found the obvious flaw in the ex_cldr lib architecture.  I should have followed the practise of Phoenix and Gettext and others that do configuration in a user-supplied module.  That would automatically solve the problem you describe.

I've been prototyping a few approaches with an intent that this is rearchitected for version 2.0.  My current challenge is that whilst I can put all

[2018-05-16 04:21] danschultzer commented on #59
Sounds good! I'll try out some ideas I got for how to get this working. I haven't dug too much into this yet.

[2018-05-18 08:17] kipcole9 commented on #45
Regretably as of CLDR version 33 (latest version) this is still not corrected.

[2018-05-18 22:00] danschultzer commented on #59
I think it might be good to make Plug work with a supplied Gettext module first. Right now I'm trying to get Cldr in its current state to work with my app. I make sure that the available locales are set with `:ex_cldr` (for now just "en"):

[code]

And then I supply the gettext module to the plug:

[code]

With this, I'm getting `Locale "en-US" does not have a known Gettext locale.  No Gettext loc

[2018-05-18 23:27] kipcole9 commented on #59
One of the reasons I need to redesign the compile-time generation is because of Gettext - I realised too late that a users Gettext module isn't available when Cldr is being compiled.  This resulted in the whole "Cldr Compiler" phase to recompile modules that are affected by Gettext and config changes.

My point being that this becomes a while lot easier to manage when I get that done.

That said,

[2018-05-18 23:32] danschultzer commented on #59
Ah, I see. The `en_US` locale is supplied by the user (through the plug). Gettext just have an `en` locale.

[2018-05-18 23:47] danschultzer commented on #59
No, because if I set the config like this:

[code]

Then the warning disappears as the Gettext module locales are loaded from whatever Gettext module is used in the global config (and not the plug argument).

To iterate, this is how the config settings looks like:

[code]

And the plug looks like this:

[code]

[2018-05-18 23:54] kipcole9 commented on #59
Got it, thanks @danschultzer.  Will work on this over the weekend.

[2018-05-19 03:56] kipcole9 commented on #59
As best I understand it, Gettext locales are defined solely by their presence in `priv/gettext`.  I don't believe there is a config key `:locales`.  Can you let me know what you have in `priv/gettext`?

[2018-05-19 04:06] danschultzer commented on #59
Yeah, you're right, `:locales` doesn't make sense. I've `en` in the `priv/gettext`. However I think this is unrelated to the issue I'm talking about.

The warning comes from `set_locale/3`:

https://github.com/kipcole9/cldr/blob/403ae683c84d3e97c6476bccaf63935b0023b8e4/lib/cldr/plug/plug_set_locale.ex#L182-L189

The `:gettext_locale_name` is set here:

https://github.com/kipcole9/cldr/blob/2f272bf

[2018-05-19 05:53] kipcole9 commented on #59
Understood,  I know i'm being a bit slow - been a long few weeks.

I think the right solution, for version 2.0, would have:
[code]
And then the module definition which will contain the public API and all the
generated functions:
[code]
And for the Plug configuration it would be:
[code]
Wherein the plug would derive its Gettext definition from the `MyApp` configuration which contains the `gettext`

[2018-05-19 06:15] danschultzer commented on #59
No problem! Yeah, this looks good, and it's almost identical to what I was thinking of after working on this for a bit.

I'm wonder how this will work together with all the different `Cldr` libraries. I assume that e.g. `Cldr.DateTime.to_string/2` will then be `MyApp.Cldr.DateTime.to_string/2`. Or an alternative could be a call like `Cldr.DateTime.to_string(MyApp.Cldr, ...)`. In any case it'll be

[2018-05-29 21:22] Schultzer opened #61 "Creating an elixir-cldr organization"
Hi,

Would it be worth it to create an organization for `ex_cldr` and its supporting libraries?

#### Pros
* Code unification across libraries with `mix format`
* One CI for testing across the libraries
* We can help each other out and delegate responsibility
* Code reviews

I'm not sure about the cons, let me know what you think.

cc @kipcole9  @LostKobrakai

[2018-06-08 16:49] erikreedstrom opened #62 "Fails to compile with Distillery supplied logger level"
We recent ran into an issue with compilation and ex_cldr as it concerns Logger during compilation.

Our production release uses the following config format, as specified by [distillery](https://hexdocs.pm/distillery/getting-started.html#application-configuration):

[code]

When ex_cldr installs locales at compile time, it uses the `Logger` to output the message. However, at this point, the config

[2018-06-08 17:02] #62 closed

[2018-06-08 17:10] kipcole9 commented on #62
Apologies for the inconvenience.  I have [pushed version 1.6.1](https://hex.pm/packages/ex_cldr) with a version that I believe will fix this.  I changed the `Logger` calls in `Cldr.Install.install_locale/1` to use `Logger.bare_log/3` instead of the `Logger` macros.  Please let me know if this does not resolve the issue for you.

[2018-06-28 11:29] erikreedstrom commented on #62
@kipcole9 The issue still exists. Note in the stack above, it calls through `bare_log`. The problem seems to be in the Logger `__should_log__` inspection. When this happens, it always checks the config value in the compare function. ☹️

Don't see much of an alternative, other than using `__do_log__` directly. 😕

[2018-07-18 08:11] LostKobrakai opened #69 "Compiler failing under elixir 1.7-rc"
Details are already here: https://elixirforum.com/t/elixir-v1-7-0-rc-0-released/15133/20?u=lostkobrakai

[code]

`Mix.Dep.loaded` is deprecated and to be removed in 1.8

[2018-07-18 23:17] kipcole9 commented on #69
Yet another reason to work faster on Cldr version 2 so. Can get rid of this ‘compiler’.  I do test on 1.7 but I am a couple of weeks behind on commits so clearly I need t get onto the RC now.

Will dive into this today and see if I can resolve another way.  Thanks for the issue.

[2018-07-19 02:46] #69 closed

[2018-10-16 13:53] epilgrim opened #78 ":priv_dir files from a sibling dependency get deleted using cldr compiler"
First of all, thanks for the useful lib!!!

I've been chasing this bug on production, where my monitoring tool (appsignal) stopped reporting data, and it was because on compile time, appsignal downloads some files.
[code]
It turns out, after the compile step is done, those files are not there anymore. They get deleted.
But, if I change my configuration from:
`      compilers: [:phoenix, :gettext]

[2018-10-16 15:13] kipcole9 commented on #78
Wow, that is, ... unexpected.  Sorry for the inconvenience.  There was an issue related to how Heroku builds work (I'll revisit what it was) but it didn't have this symptom.  And I've reviewed the `:cldr` compiler code again and it doesn't do any mutations except `Kernel.ParallelCompiler.compile_to_path(sources, build_dir)` to compile selected files and it does also delete the old versions.  It ha

[2018-10-16 23:06] epilgrim commented on #78
it was though, but i finally have a repo that reproduces the issue:
https://github.com/epilgrim/test_cldr

the key is in the `build_embedded: true,` parameter in the mix.exs file.
When it's false, the files are printed at the end of the compile steps
When it's true, the files disappear after compilation

[2018-10-16 23:09] kipcole9 commented on #78
Thanks incredibly helpful, thank you.  I still don't know what the files disappear but its a huge hint for where to go looking.  Thanks very much for diving into this.  I'll see if I can work it out tonight my time (its early morning now).

[2018-10-17 04:43] kipcole9 commented on #78
Hmmm, maybe found a cause.  In the cldr compiler task i need to [work out which modules to recompile](https://github.com/kipcole9/cldr/blob/master/lib/mix/tasks/compile.cldr.ex#L160-L174).  That in turns needs to [work out who the callers are](https://github.com/kipcole9/cldr/blob/master/lib/mix/tasks/compile.cldr.ex#L176-L189) which includes the line:
[code]
And it appears that `Mix.Project.build

[2018-10-17 05:11] kipcole9 commented on #78
I have created a branch with the `Mix.Project.build_structure()` commented out and in a quick test on your test app (and mine) it seems to compile and recompile correctly without deleting sibling `:priv_dir`.

Would you consider giving this a try?  Configure with:
[code]
Let me know if that solves it for you?

[2018-10-17 06:18] epilgrim opened #79 "tk"

[2018-10-17 06:18] epilgrim commented on #79
stupid github hotkeys. i was looking at my terminal.
sorry!

[2018-10-17 06:18] #79 closed

[2018-10-17 06:39] epilgrim commented on #78
using your branch issue_78 the issue seems resolved. Do you remember why the build_structure() got there in the first place?

[2018-10-17 08:44] kipcole9 commented on #78
No, I don't remember the reason why its there.  Clearly its a bug to `build_structure/1` on *every* dependency and I know there was a reason I added it at some point.  But the code to work out what needs recompiling went through several iterations and still has conditional compilation depending on what version of Elixir is running so perhaps its a legacy of that.

I need to do some more testing to

[2018-10-17 19:39] #78 closed

[2018-11-08 14:31] LostKobrakai opened #84 "Replace phoenix dependency with just plug"
I'm not sure if phoenix is currently used elsewhere besides the tests (github showed 48 pages of searchresults), but if not we should probably replace it with just plug. No need to recompile cldr if just phoenix is updated.

[2018-11-08 15:46] kipcole9 commented on #84
Its just there as an `:optional` dependency for tests of the `set_locale` plug in a Phoenix router config.   So it shouldn't affect client applications that don't use Phoenix?

[2018-11-08 15:48] LostKobrakai commented on #84
Yeah, but I just noticed (because of the 1.4 switch) that cldr is recompiled if the phoenix version is changed. Sure not a big deal, but if plug is enough I'd just depend on that.

[2018-11-08 15:52] kipcole9 commented on #84
I've changed it to be `only: :test` which might help.  I don't think I can pull `Phoenix.Router` separately from `phoenix`. I'll see if this config change reduces the recompilation in `:dev` at least.

[2018-11-08 15:53] LostKobrakai commented on #84
I'll see if I can maybe change the tests for the plug to not need `Phoenix.Router` at some time.

[2018-11-08 15:56] kipcole9 commented on #84
Version [2.0.0-rc.0](https://github.com/kipcole9/cldr/tree/v2.0) should be out this weekend so that would be the better target if you're up for any contributions.  Mostly documentation updates required now (updates for cldr, cldr_numbers, cldr_currencies and money to be RC first).

[2018-11-10 10:32] #84 closed

[2018-11-10 10:35] kipcole9 commented on #59
@danschultzer I have pushed [ex_cldr](https://hex.pm/packages/ex_cldr/2.0.0-rc.0) which follows the model set by Ecto and Gettext by having a `backend` module.  This isolation will, I believe, fix the issues in Umbrella releases as well.  I haven't tested whether that is correct or not.

I've pushed ex_cldr and ex_cldr_currencies.  Later today I will push ex_cldr_numbers.  Tomorrow I will push `ex

[2018-11-10 16:59] erikreedstrom opened #87 "Cldr.AcceptLanguage.Parse unexpected Sort Order"
## Problem
When parsing a list of languages with the same quality, the list is inverted.

One would expect the list to remain unsorted if the sort criteria is identical for all members of the list.

## Why this is an issue

This is problematic when trying to determine locales through WebSockets. In this scenario, we would be sending as a param on connection, and it would most likely derive from `n

[2018-11-10 22:12] kipcole9 commented on #87
Thanks for the issue; very clearly stated.  I will work on this today and aim to have an update to 1.8 and 2.0-rc over this weekend.

[2018-11-11 04:05] kipcole9 commented on #87
I have added [this commit](https://github.com/kipcole9/cldr/commit/ca2505890894157d1f7479d0f70a47b041fb6a71) which preserves sort order for your example.  I need to add some tests and back port to the ex_cldr 1.8 branch. Should be done in the next 24 hours.

[2018-11-11 13:31] erikreedstrom commented on #87
Updated to 1.8.1, but getting 404 on locales
[code]

[2018-11-11 13:44] erikreedstrom commented on #87
Checkout out `v1.8-final` and can confirm it's all good! 👍

[2018-11-13 11:23] Cochonours opened #88 "Gettext get_locale different from get_cldr_locale"
I just added cldr as a dependency as it great to handle proper i18n, and after configuring I still cannot get it to work well with Gettext.

In config.exs, I put:
[code]

In router.exs, I added the SetLocale plug:
[code]

Per the doc, by adding the :gettext to that "apps" list, the plug should set the locale for gettext, but in my view `Gettext.get_locale()` remains the default "fr", whereas `Cldr

[2018-11-14 02:09] kipcole9 commented on #88
Apologies for the inconvenience. The intent is as you describe for that configuration - it should set the `Gettext` locale as well.  I'll look into this in the next 12 hours.

[2018-11-14 03:18] kipcole9 commented on #88
When `Cldr.Plug.SetLocale` sets a locale for `Gettext` it sets it as the locale *for the specified backend*.  In your case, `TotoWeb.Gettext`.  I believe if you change `Gettext,get_locale()` to `Gettext.get_locale(TotoWeb.Gettext)` you will see the change.

I will update the documentation to reflect this.

There still remains the open question as to whether this plug should set the global `Gettext

[2018-11-14 15:44] Cochonours commented on #88
Thanks for having a look! Indeed it works when I specify the backend. Could you tell me how to configure it to set it globally?

[2018-11-14 15:55] LostKobrakai commented on #88
I'm just curious, but why should a http request change the global locale? I mean concurrent requests would override each other, which I doubt is what the plug is supposed to do.

[2018-11-14 23:42] kipcole9 commented on #88
I believe @Cochonours means "set the locale for the current process for all backends".

On re-reading the `Gettext` docs I see (emphasis is mine):

Which suggests `Cldr.Plug.SetLocale` should really set the locale using `put_locale/1` as the default behaviour rather than `put_locale/2` which is  the current behaviour. And an option to set using `put_locale/2` if required.

[2018-11-15 00:12] kipcole9 commented on #88
What I propose doing, and only for Cldr version 2.0, is the following:

Today, Cldr 1.x, the `:apps` config key is a list of atoms like:
[code]
In Cldr 2.0 the behaviour will change for this configuration to set the per-process locale for all backends for both `Cldr` and `Gettext`.  This aligns with `Gettext` preferred behaviour and `Cldr` will follow.

In Cldr version 2.0 the configuration will s

[2018-11-15 03:39] kipcole9 commented on #88
As of [this commit](https://github.com/kipcole9/cldr/commit/abb187a50f6c52ecab6800d7fc1c30a741fadf50) the behaviour of Cldr now more closely matches that of Gettext.

[2018-11-15 12:14] Cochonours commented on #88
Indeed!

Thanks for your update.

[2018-11-15 12:14] #88 closed

[2018-11-23 03:48] kipcole9 commented on #59
[ex_cldr](https://hex.pm/packages/ex_cldr) version 2 is published now and I think it solves the Umbrella App issue.  I will close this issue now, but please do reopen it if I am mistaken.

[2018-11-23 03:48] #59 closed

[2018-11-23 03:49] kipcole9 commented on #61
I create the organisation when I finalise all parts of the version 2.0 release cycle.  Its a good milestone to aim for!

[2018-11-23 03:51] danschultzer commented on #59
Thanks! I haven't had the time to test it out yet, but from the docs it looks like it'll work perfectly for us :smile:

[2018-11-23 15:20] maennchen opened #92 "Plug Warning"
If the `Cldr.Plug.AcceptLanguage` plug is used, a warning is logged.

Endpoint Code:

[code]

Log:

[code]

Library Versions:

* `phoenix` - `1.4.0`
* `plug` - `1.7.1`
* `ex_cldr` - `1.8.1`

[2018-11-23 15:32] kipcole9 commented on #92
@maennchen Thanks for the report.  Its unexpected behaviour and moving to version 2.0, although a good idea, isn't ready if you need dates and times (as you observed).

I'll work out why the issue and fix it in version 1.8x.  Sorry for the inconvenience.

### Expectations
* 24 hours fix for this issue in the 1.8 branch
* 2 weeks for `ex_cldr_dates_times` and `cldr_units`
* 2 days for `ex_cldr_list

[2018-11-23 16:06] kipcole9 commented on #92
It was a quick fix.  Turns out endpoint plugs get passed an empty list `[]` for params.  This no longer logs a warning in [ex_cldr version 1.8.2](https://hex.pm/packages/ex_cldr/1.8.2) just released on hex. Code and tests updated.

[2018-11-23 16:06] #92 closed

[2018-11-23 16:16] kipcole9 commented on #92
By the way, in version 2.0 a `cldr_backend: <module_name>` is a required option.

[2018-11-23 16:34] maennchen commented on #92
@kipcole9 Thanks for the quick fix! I'll update right away.

[2018-11-23 16:43] maennchen commented on #92
Seems to work, thank you again!

[2018-11-24 13:02] robotvert opened #93 "Code.LoadError with 2.x"
Hi,

I'm not sure if this is coming from ex_cldr_numbers or ex_cldr itself but upgrading to 2.x makes my phoenix not compile anymore with Code.LoadError raised randomly (e.g. the error below happens in different files upon several `mix compile` runs)

`mix compile`:
[code]

iex gives a bit more info (note the different file):
`iex -S mix`
[code]
Here are the differences from 1.x to 2.x:

`config/c

[2018-11-25 14:14] robotvert commented on #93
Yeah as expected this didn't help much for this case, glad a bug has been unearthed and resolved though!

Here's my mix.exs file:

[code]

The config files I have have nothing special about them, let me know if you need those too.

[2018-11-25 14:44] kipcole9 commented on #93
Hmmm, thats very strange.  But appreciate the `mix.exs` which I think will allow me to recreate enough of your environment to work out what the issue might be during compilation.  I'll work on this over the next 24 hours and report what I find.

[2018-11-25 23:45] kipcole9 commented on #93
I have created a test app that uses your `mix.exs` except it doesn't start an application, or have a repo yet either.  It has only a default config for Cldr.

I expected I would get errors during compilation based upon your initial report but I have not seen any.

If you have the patience, perhaps you could clone this repo and just plain `iex -S mix`?  It worked with no issues for me.  If it works

[2018-11-25 23:51] kipcole9 commented on #93
In relooking at the error messages again I'm seeing from your examples:
[code]
And these are clearly bogus paths and very strange.  I think I may have an understanding of why this can happen and will have to think on how to remediate it.

[2018-11-26 04:39] kipcole9 commented on #93
As of [this commit](https://github.com/kipcole9/cldr/commit/394dc98a7ee1c45bd3babefd6cc210d265dd611f) I believe the issue is resolved.  The [changelog](https://github.com/kipcole9/cldr/blob/v2.0.4/CHANGELOG.md) has further detail.

It is also on `hex` as [ex_cldr version 2.0.4](https://hex.pm/packages/ex_cldr/2.0.4)

Sorry for the inconvenience.  Definitely a case of trying to be too clever for my

[2018-11-26 04:39] #93 closed

[2018-11-26 09:49] robotvert commented on #93
Confirmed this solved it! Thanks!!

[2018-12-13 02:31] nhutdinh opened #97 "compile failed with ex_cldr 1.8.2"
I got this error when running mix compile:
I'm using: ex_cldr 1.8.2, Elixir: 1.6.5, erlang 20.2
[code]

[2018-12-13 03:37] nhutdinh commented on #97
I found the reason. It's due to nimble_parsec 0.5. I downgrade nimble_parsec to 0.4.0 and it works again.

[2018-12-13 07:37] kipcole9 commented on #97
Yes, you are right, nimble_parsec 0.5 has some incompatible changes.  I have updated `ex_cldr` master to reflect these changes however `makeup`, a dependency used in `ex_doc`, also needs to be updated.

For now I regret pinning `nimble_parsec` to 0.4 is the best solution.  As soon as `makeup` is updated (I know its in progress) I will be able to release a new version of `ex_cldr`.

[2018-12-22 22:41] kipcole9 commented on #97
I have just pushed [ex_cldr version 2.2.0](https://hex.pm/packages/ex_cldr/2.2.0) which now requires `nimble_parsec` `0.5.0`.

[2018-12-22 22:41] #97 closed

[2018-12-23 11:26] LostKobrakai opened #99 "Remove nimble_parsec runtime dependency"
I'm wondering if we could remove the nimble_parsec dependency at runtime all together using: https://hexdocs.pm/nimble_parsec/Mix.Tasks.NimbleParsec.Compile.html#content

[2018-12-23 12:40] kipcole9 commented on #99
I've done some experimentation and whilst its works fine, it produces a *lot* of compiler warnings from the generated code:
[code]
And I feel that as a lib writer, lots of compiler warnings doesn't inspire confidence for a lib user.  Open to suggestions though.

[2019-01-18 15:38] Cochonours opened #102 "Migration config v2 : A Cldr backend module must be configured"
Could you be more clear about the migration? I used to have a working config for my pet project in config.ex:
[code]
I removed it to create a module, and as you never say where to put it (and it's a pet project to learn Elixir so I don't know enough to guess your intent) I put it in `lib/toto/Cldr.ex`. The compilation goes well, but when I try to go on a webpage I get the error "A Cldr backend mod

[2019-01-18 16:23] kipcole9 commented on #102
@Cochonours apologies for the inconvenience.  It sounds like your `Toto.Cldr` backend module is fine.  This module hosts the public API for the `ex_cldr` and friends as you have discovered.

However the plug `Cldr.Plug.SetLocale` also needs to know which backend to use since `Plug` uses compile-time configuration.  You will see the configuration requirements if you `h Cldr.Plug.SetLocale` in `iex`

[2019-01-18 21:18] Cochonours commented on #102
Thanks!

After upgrading all the occurrences of the SetLocale plug, everything is working fine.

[2019-01-18 21:18] #102 closed

[2019-01-19 08:13] kipcole9 commented on #102
Glad its working for you now.  I have updated the readme with a simple migration section and republished the docs to hex.  Thanks for the issue report.

[2019-01-23 10:02] maennchen opened #104 "Dialyzer Errors in v2"
Let me first thank you for the great library!

I have upgraded my CLDR dependencies to the newest major release. Now I have a lot of Dialyzer Errors:

[code]

[2019-01-23 13:08] kipcole9 commented on #104
I have such a love/hate relationship with dialyzer.  Mostly it hates me.  :-)  But I appreciate the report and will do my best to fix the typespecs and publish an update.

[2019-01-23 15:55] maennchen commented on #104
@kipcole9 I feel the same about it, always a hassle to maintain. It found me some pretty hard to find bugs though.

Thanks for your efforts!

[2019-01-27 20:02] erikreedstrom opened #106 "Default Locale missing gettext_locale_name"
Calling `Cldr.default_locale(MyApp.Cldr)` returns a lang tag with `gettext_locale_name` as `nil` regardless of the Gettext backend being set.

[code]

[code]

As a work around, I'm doing this:

[code]

[2019-01-28 02:04] #106 closed

[2019-01-28 02:05] kipcole9 commented on #106
@erikreedstrom Apologies for the inconvenience.  I have pushed a fix and corrected the tests which were incorrectly passing as well.  Would you consider checking that this commit fixes the issue for you too before I push to hex?

[2019-02-10 06:56] kipcole9 commented on #104
OK, I'm on it.  The new dialyxir helps, but a few things - especially in nimble_parsec combinators seem unsolvable by me.  Anyway, I'll keep plugging away.

[2019-02-10 11:00] kipcole9 commented on #104
Except for nimble_parsec errors, dialyzer is now happy.  I'll work on a PR for nimble_parsec this evening.

[2019-02-18 15:59] kipcole9 opened #109 "Regex for parsing currency names fails on "ja""
The regex doesn't correctly identify the `（` and `）` characters separators.  Revisit the CLDR data and see if these characters are in the BCP47 parse data.

[code]

[2019-02-27 14:57] sergey-chechaev opened #111 "No configured locale could be matched"
I have the warning: `[warn] Elixir.Cldr.NoMatchingLocale: No configured locale could be matched to "test"` in my Phoenix test case:

[code]

How I can test this case without warning?

[2019-02-27 16:23] kipcole9 commented on #111
@sergey-chechaev, wrapping the test in `capture_log` should do it. For example:
[code]

[2019-02-28 10:27] #111 closed

[2019-03-10 16:56] nallwhy opened #112 "`.mix` folder is not created at building"
elixir version: 1.8.1
ex_cldr version: 1.8.2

error message:
[code]

It is fixed by creating `.mix` folder manually, but I want to know the reason of this problem.

[2019-03-10 18:09] kipcole9 commented on #112
I suspect this is a result of a different Elixir compiler environment in Elixir 1.8 (different from Elixir 1.7). Cldr 1.x libraries are replaced with the Cldr 2.x libraries which I recommend with one exception.  If you need `ex_cldr_dates_times` then that is not yet at 2.x release.

Cldr 2.x is a major refactoring that solves many issues from the build environment of Cldr 1.x so if at all possible

[2019-03-10 18:14] kipcole9 commented on #104
All dialyzer warnings are now fixed or silienced in ex_cldr version 2.4.0

[2019-03-10 18:14] #104 closed

[2019-03-10 18:15] kipcole9 commented on #109
Fixed in Cldr version 2.4.0.

[2019-03-10 18:15] #109 closed

[2019-03-11 00:26] nallwhy commented on #112
@kipcole9 Thx. It works well.

[2019-03-11 02:18] #112 closed

[2019-03-13 16:17] bobwaycott opened #113 "Backend module generating unwanted documentation despite `@moduledoc false`"
Thanks for the fantastic `Cldr` lib & its related packages. They're incredible.

I am encountering some odd behavior with my `Cldr` backend module and unwanted documentation generation.

Here's the backend module def:

[code]

**Fwiw:** I have actually defined this backend for `ex_money`, as it says a `default_cldr_backend` is required. My config that points to my custom backend looks like this:

[2019-03-13 22:21] kipcole9 commented on #113
@bobwaycott thanks for the feedback, it's appreciated.  I have gone out of my way to make sure there are (good I hope) docs for the generated modules because they are intended as the primary API for the CLDR* family of libraries.  But I can also understand that this is not a concern of an `ex_money` consumer.

The reason you see the docs is that your `@moduledoc false` is followed, in the generate

[2019-03-14 07:19] bobwaycott commented on #113
@kipcole9 Hey, thanks for the detailed reply. Really helps understand your thinking and approach. I had a feeling that might be what was happening. Also, the CLDR family of docs have been top-notch. I'm a heavy documenter myself, so it's been refreshing to see such thorough docs on all the things.

I'm not sure if it'd work for the CLDR libraries, but in case it does, I thought I'd share the way I

[2019-03-14 10:20] kipcole9 commented on #113
Appreciate the feeback, thanks.

I have as of [this commit](https://github.com/kipcole9/cldr/commit/0be7a7db9a5e1e51f1208903106148d7c47f4f62) made doc generation configurable for [ex_cldr](https://github.com/kipcole9/cldr).  I am yet to do [ex_cldr_numbers](https://github.com/kipcole9/cldr_numbers) or [ex_cldr_currencies](https://github.com/kipcole9/cldr_currencies) both of which are also dependen

[2019-03-14 12:57] bobwaycott commented on #113
Sounds like the easiest way to do it for sure. I'll keep an eye on how it comes together. Safe travels!

[2019-03-15 16:32] kipcole9 commented on #113
Updated all the `ex_cldr_*` libs to respect the `generate_docs: false` configuration option. Please:
[code]
Then add to your backend configuration:
[code]
And you should be good to go. Thanks for the report and the motivation to add this option.

[2019-03-15 16:32] #113 closed

[2019-03-21 14:13] bobwaycott commented on #113
Hey @kipcole9 ! Thanks a bunch. Easy upgrade. Looks like there are still two items generating in my docs right now:

- `Cldr.Rbnf.Ordinal`
- `Cldr.Rbnf.Spellout`

Should those be ignored by these changes, too?

[2019-03-21 14:37] kipcole9 commented on #113
Sorry @bobwaycott, I missed those two,  Fixed now in `ex_cldr_numbers` version 2.4.4. Please:
[code]
and you should be good to go.

[2019-03-25 13:47] bobwaycott commented on #113
Awesome! Thanks again, @kipcole9

[2019-04-10 08:23] erikreedstrom opened #123 "The `data_dir` param seems to be ignored"
It seems that `data_dir` is being ignored. Our config is used within an umbrella app, and defines an `otp_app` param.

[code]

[code]

No matter what we do, setting in the module or in the config, it always downloads to the app priv dir. We're thinking it's likely related to the order of pattern matching here: https://github.com/kipcole9/cldr/blob/dc37a0565dc7bc2be680b31953001f7ab031d09b/lib/cldr/

[2019-04-10 14:57] kipcole9 commented on #123
@erikreedstrom Yes, that's clearly not good. I'll try to get it fixed tonight but it may take until Friday.

[2019-04-13 01:53] #123 closed

[2019-04-13 02:03] kipcole9 commented on #123
@erikreedstrom As of [this commit](https://github.com/kipcole9/cldr/commit/5293506f359ab24925159b7258f63c9b5930e9c3) I believe that the `:data_dir` configuration is working correctly.  I have added some tests and additional notes in the `@doc`.

Would you consider testing this version from the GitHub repo before I push the release to hex?

### client_data_dir

  Return the path name of the CLDR da

[2019-04-14 00:49] kipcole9 commented on #123
Pushed to hex as [version 2.6.1](https://hex.pm/packages/ex_cldr/2.6.1)

[2019-04-15 08:12] erikreedstrom commented on #123
@kipcole9 Sorry it took so long to get back to you. 🙇
Can confirm this works great. Thanks again!

[2019-04-15 09:38] erikreedstrom opened #124 "Gettext fallbacks in `plug_set_locale`"
This isn't a bug so much as a point of confusion. The following code is being invoked when the CLDR locale is more restrictive than the Gettext locale.

[code]

If CLDR is defined as something like `en-GB`, and Gettext includes `en`, one would expect a match on the fallback.

Thoughts?

[2019-04-15 13:56] kipcole9 commented on #124
Its a bug. The [following code](https://github.com/kipcole9/cldr/blob/master/lib/cldr/locale.ex#L337-L397) is specifically intended to fallback to an available Gettext locale.  I haven't spotted the bug on a quick view so will investigate.  Might be a simple as a `-` versus `_` in comparisons.  Thanks for the report, shouldn't be too much to fix.

[code]

[2019-04-15 17:45] kipcole9 commented on #124
May I ask you to report what your `plug` statement looks like?  I assume it includes a `:gettext` param?

And also is possible your backend module configuration?  Does it have a `:gettext` option specified?

What l think is happening is that the `:gettext_locale_name` is being correctly resolved if the backend module has a `:gettext` configured.  But it is not being correctly resolved if you only

[2019-04-15 17:57] erikreedstrom commented on #124
**Plug Statement**
[code]

**Backend Config**
[code]

In this case, both have the `:gettext` configured.

Gettext has known locales of `['es', 'en']`

[2019-04-15 18:04] kipcole9 commented on #124
Hmmm, I'm a little perplexed.  Here's a passing test case with `gettext` configured on the backend module:
[code]
And that backend module is defined as :
[code]
And the gettext locales are:
[code]

[2019-04-15 18:08] kipcole9 commented on #124
I'll adapt your configuration for testing and see what the issue is.  Your objective is to set the global Gettext locale I assume, based upon the ` apps: [cldr: MyApp.Cldr, gettext: :all]` configuration option?

[2019-04-15 18:11] erikreedstrom commented on #124
Correct. Perhaps it's something deeper on our end? 🤔
Will dig some more. Thanks for taking a look. 🙇

[2019-04-15 18:15] kipcole9 commented on #124
I'm still on it.  I wonder if there is any difference if you remove the `:gettext` option from the `plug` statement?    I don't expect so, but maybe ....

[2019-04-15 18:29] erikreedstrom commented on #124
Reproducing locally seems to be causing us issues. :(
We see it on the server on every request. Grr.

I'll close this out since this is likely an issue with our setup. Thanks again.

[2019-04-15 18:36] kipcole9 commented on #124
Thats really curious.  Anyway, I adapted your configuration as follows and I it seems ok:
[code]
Note that this isn't exactly the same as yours since I am not setting the global Gettext locale, only the backend specific locale.

[2019-04-15 19:06] erikreedstrom commented on #124
@kipcole9 As part of testing we uncovered that once we remove the `:gettext` from the config, the `:all` option for apps on gettext will fail.

[code]
Seems to be part of the validation check.

Still hunting the other thing.

[2019-04-15 19:17] kipcole9 commented on #124
Agreed, confirm that is a bug and fixed on my dev machine.  Will push an update soon.

[2019-04-15 20:01] erikreedstrom commented on #124
@kipcole9 So it seems like it's a compilation issue maybe. Reopening the issue for tracking.

**Local**
[code]

**Deployed**
[code]

We deploy with distillery, so perhaps we're missing something? As far as we can tell, there's nothing additional to config for deploying with gettext.

[2019-04-15 20:41] kipcole9 commented on #124
I have push a commit that may fix the issue - or at least help diagnose it better. Any chance you could try from master?

One thing I did was remove "MyApp.Cldr" from the `:dev` environment.  For my own convenience I was generating these in the `:dev` environment which runs the risk that if you define a module with the same name then there could be a name clash.  At least that possibility is remov

[2019-04-15 20:43] kipcole9 commented on #124
I would suggest that you don't call your backend modules `MyApp` - I use that only for documentation purposes.  I think it would be more meaningful to call them something related to your actual app name.

[2019-04-15 20:47] erikreedstrom commented on #124
😂😂😂 we don’t actually call it that. I scrub the name.

[2019-04-15 20:50] kipcole9 commented on #124
Cool - I was hopeful that was true :-)

Have to think about the issue now with your additional comments.  The plug validates that the `:gettext` module exists and raises if not so that would imply that it is compiled in advance.

[2019-04-15 20:52] erikreedstrom commented on #124
Thanks for the quick turnaround. I’ll run a test in my morning (about 8 hrs from now).

[2019-04-15 20:56] kipcole9 commented on #124
One way to test if its a compilation order issue it to `require` your gettext module before you define you `backend` module.  For example:

[code]
It shouldn't be necessary because simply mentioning the module name in the `defmodule` would force the compiler to compile the backend.

The only other thing I can think of is that perhaps if you changed your gettext config (ie added a locale) perhaps t

[2019-04-15 21:35] kipcole9 commented on #124
Published [version 2.6.2](https://hex.pm/packages/ex_cldr/2.6.2) for your tests in the morning.

[2019-04-16 08:58] erikreedstrom commented on #124
We built without cache and it didn't resolve. Neither did simply requiring the module.

We did find a work around, which is to actually invoke `known_locales` prior to the `use` directive. Discovered this worked while trying to see if Gettext saw them at compile time.

[code]

It's ugly, but the problem is resolved.

Is there a lot of overhead to the `known_locales` call? I'm wondering if you thin

[2019-04-16 09:21] kipcole9 commented on #124
Thats .... really irritating.  And I'm having trouble creating a reproducible case.  This is only exhibited as an issue if `:prod` if I understood your earlier report?  Really appreciate you digging - and at least finding a workaround.

[2019-04-16 09:23] kipcole9 commented on #124
Its not an especially heavy function so executing it a runtime is definitely an option which I'lll explore.

[2019-05-02 14:16] AdrianRibao opened #126 "MyApp.Cldr is either not known or does not appear to be a Cldr backend module"
I have a Phoenix application where I have `SetLocale` set like this in `router.ex`

[code]

where:

[code]

it works fine on dev, but when I try to compile for production inside a docker container, the compilation fails for `router.ex`:

[code]

and in the config I have:

[code]

Am I doing something wrong or maybe there is a bug somewhere?

[2019-05-02 16:35] AdrianRibao commented on #126
More information about this:

This works:

[code]

but this fails with the previous error:

[code]

[2019-05-02 17:20] AdrianRibao commented on #126
I just found the issue!

Just in case it helps others, it was a wrong path in the template:

[code]

It turns out demo.mp4 wasn't available and that made the compilation fail. Commenting that line made it work!

[2019-05-02 17:25] AdrianRibao commented on #126
Sorry, unfortunately that wasn't the problem, I had removed the plug comment accidentally, and that's why I didn't get the error... So back to square one.

[2019-06-02 20:15] LostKobrakai opened #127 "JSON data read at runtime"
As mentioned [here](https://github.com/kipcole9/money/pull/103#issuecomment-498045081) `Money.to_string` is currently quite slow and seems to do quite a bit of json reading, which it really shouldn't. The offending code seems to be
https://github.com/kipcole9/cldr/blob/master/lib/cldr.ex#L1242, which ultimately lands at `Cldr.Config.number_systems`. This seems to be done 4 times per `Money.to_stri

[2019-06-02 23:32] kipcole9 commented on #127
@LostKobrakai Thanks for looking into this. Fix with [this commit](https://github.com/kipcole9/cldr/commit/d33c01d86cb01957455a4eb7c70cded08b7f47d2).

Published to hex as [version 2.7.1](https://hex.pm/packages/ex_cldr/2.7.1).

Performance difference is materially different as expected:
[code]

[2019-06-02 23:32] #127 closed

[2019-06-03 02:20] kipcole9 commented on #127
@LostKobrakai May I ask what versions of [ex_cldr_numbers](https://hex.pm/packages/ex_cldr_numbers) you are using?  I did some work a couple of releases ago to remove the need to validate options (like `number_system`) multiple times so I'd like to track this down.

[2019-06-03 02:35] kipcole9 commented on #127
Hmmm, I profiled again and I see what you observed (and more) on the latest releases.  I'll take a look at this tonight, there's clearly more room for improvement.

[2019-06-03 07:36] LostKobrakai commented on #127
I just did a dummy install (so latest version before todays releases) and used `:dbg` to trace up the callstack from `Jason.decode!` by running `Money.to_string` in iex, because I had no idea what code in cldr would even call it :D

[2019-06-06 01:44] kipcole9 opened #129 "Don't fall back to language-only locale"
Consider disallowing fallback from "en-US" to "en" -> that is, do not fall back to the language specific locale.

This would be a configuration option on the backend module.  Maybe something like:
[code]

[2019-06-09 02:35] kipcole9 commented on #61
Done now that [ex_cldr_dates_times](https://hex.pm/packages/ex_cldr_dates_times) has finally been updated.

Moved all the `Cldr_*` repos to [elixir-cldr](https://github.com/elixir-cldr).  Thanks for the suggestion.

[2019-06-09 02:35] #61 closed

[2019-06-14 08:23] epilgrim commented on #124
hey, I will chime in here, as I think i'm facing this same issue, but from a different angle (if you want me to open a different one, please let me know)
I've created an app where i can consistently get an error due to gettext locales not being detected at the right time:
https://github.com/epilgrim/bug_app_ex_cldr

you could get the error with: `mix deps.get && mix compile`
[code]

The special th

[2019-06-14 09:01] kipcole9 commented on #124
Definitely a bug and a very helpful stack trace because I'm surprised to see that the locale "ca" isn't being downloaded so I'll start digging there.  I'm still perplexed why `require Gettext.Backend` is necessary but I assume its to do with macro behaviour.

I will dig into this today - thanks very much for the reproducible test case.

[2019-06-14 11:24] #124 closed

[2019-06-14 11:30] kipcole9 commented on #124
@erikreedstrom, @epilgrim, I believe I have solved the issue with `Gettext` backends not being recognised in a `Cldr` configuration.  [This commit](https://github.com/elixir-cldr/cldr/commit/3b83288d75908301e484852dd7676e864a371999) shows the minor change required.

This release is now [pushed on GitHub](https://github.com/elixir-cldr/cldr/releases/tag/v2.7.2) and published to hex as [ex_cldr vers

[2019-06-14 11:35] kipcole9 commented on #126
@AdrianRibao Apologies for now being responsive on this. Still an issue for you I assume?  I can only think of it as a compilation order issue and I'm finding it hard to reproduce.

[2019-06-14 11:54] kipcole9 commented on #126
I think this may have been similar to issue #124 and I have applied the same "fix" with [this commit](https://github.com/elixir-cldr/cldr/commit/ce418f11b11bf7043eacaf07f0294cd76a0266d8).  I will close this issue for now but of course please reopen it if my assumption is incorrect.

[2019-06-14 11:54] #126 closed

[2019-06-14 11:56] kipcole9 commented on #45
As of CLDR versions 35 and 35 this is still not fixed and there appears little sign it will be.  Therefore I will close this issue as `wontfix`.

[2019-06-14 11:56] #45 closed

[2019-06-14 11:56] AdrianRibao commented on #126
@kipcole9 I ended up using my own plug because I couldn't use this package. I'll try to use the latest version when it's released, and check if it's fixed.

Thanks!

[2019-06-14 11:58] kipcole9 commented on #126
Totally understand and I'm sorry I let you down (in fact somehow I didn't even see you had reopened the issue although thats not an excuse).

The new version is on hex now as [ex_cldr version  2.7.2](https://hex.pm/packages/ex_cldr/2.7.2).

[2019-06-14 12:43] epilgrim commented on #124
hey @kipcole9 just tested your new version and it works!!
Thank you for your quick response, and your awesome project!

[2019-07-31 07:48] ayrat555 opened #130 "backend redefine warnings"
I compile my app with `compile --warnings-as-errors`

If I use any of the backends, for example `ex_cldr_units`. I'm getting
[code]
which fails compilation

[2019-07-31 07:52] kipcole9 commented on #130
Thanks for the report.  Can you let me know:
1. The version of `ex_cldr` and of the dependent packages you are using?
2. An example backend configuration the error?
3. The warning is always on `*.Cldr.Number` ?

That way I can build a simple test case to see how the issue arises.

[2019-07-31 07:56] ayrat555 commented on #130
1. {:ex_cldr, "~> 2.0"} -> `2.7.0`
2. dependent package is `{:ex_cldr_units, "~> 2.5"}`
configuration module
[code]
3. yes

[2019-07-31 07:58] kipcole9 commented on #130
Thanks much, I'll work on this over the next 12 hours.  Sorry for the inconvenience.

[2019-07-31 08:13] kipcole9 commented on #130
May I also suggest update to [ex_cldr version 2.7.2](https://github.com/elixir-cldr/cldr/releases/tag/v2.7.2) which fixes an issue related to `Gettext` configuration in `ex_cldr` backend modules.

[2019-07-31 08:34] ayrat555 commented on #130
I tried it with no success

[2019-07-31 08:58] kipcole9 commented on #130
Hmmm, I'm not seeing the same symptoms as you. I have created the simplest repo I can at https://github.com/elixir-cldr/cldr_issue_130

If you have an opportunity, could you clone it and compile and see if you are getting the same warning result?  I hard coded the current releases to be deterministic.  I also added:
[code]
Although removing it has no noticeable difference other than silencing some

[2019-07-31 09:19] ayrat555 commented on #130
`cldr_issue_130` is compiling without any warnings. I tried setting exactly the same deps versions but again the warning appears.
Also, I tried to configure the library with `otp_app` option. no success.

Maybe the issue is related to umbrella applications?

[2019-07-31 09:49] kipcole9 commented on #130
Any possibility you can give me access to your repo?  I appreciate the answer may be "no" for confidentiality reasons, but it would certainly make it easier for me to work on the issue.  I can't think of why an umbrella app would make a difference.

[2019-07-31 09:52] ayrat555 commented on #130
no problem. it's here https://github.com/poanetwork/blockscout/pull/2473

[2019-07-31 14:38] kipcole9 commented on #130
I believe the issue is that you are defining your own `BlockScoutWeb.Cldr.Number` module in `block_scout_web/views/cldr/number.ex`. This clashes with the generated module that comes from
[code]

You note that you see a bug in `Cldr.Number.to_string!/3`.  Let me know what the wrong behaviour is and I'll work on fixing that.

[2019-07-31 14:41] kipcole9 commented on #130
I also recommend changing
[code]
to
[code]
in `apps/config/config.exs`

[2019-07-31 15:15] kipcole9 commented on #130
Oh, I see that your private `BlockScoutWeb.Cldr.Niumber` module was working around some old dialyzer errors.  `ex_cldr` and friends now all pass dialyzer so I wouldn't expect you to need this module any more.

[2019-08-01 07:22] ayrat555 commented on #130
@kipcole9 thanks. the issue was in the conflicting module name. renaming it fixed the issue

[2019-08-01 07:22] #130 closed

[2019-10-18 21:24] Ray-Wang opened #131 "Cldr.Plug.SetLocale from session failed"
Plug Cldr.Plug.SetLocale, from: :session

An exception was raised
(FunctionClauseError) no function clause matching in Cldr.Plug.SetLocale.return_if_valid_locale/1
(ex_cldr) lib/cldr/plug/plug_set_locale.ex:203: Cldr.Plug.SetLocale.return_if_valid_locale("en")

[2019-10-18 23:09] kipcole9 commented on #131
Thanks for the report and sorry for the inconvenience.  Can you show me the code where you set the locale in your session?  I understand why the exception is being raised but before I put in a fix I’d like to validate an assumption about how the locale in the session is being set.

[2019-10-20 00:11] #131 closed

[2019-11-02 22:00] kipcole9 commented on #129
Closing for now there being no known compelling reason to move forward with this.

[2019-11-02 22:00] #129 closed

[2020-01-13 16:48] maennchen commented on #99
@kipcole9 This can probably be implemented since `nimble_parsec` had a few releases since then.

[2020-01-13 17:05] maennchen commented on #104
@kipcole9 I found a new one again:

[code]

It also seems to trip dialyzer, opened an issue here: https://github.com/jeremyjh/dialyxir/issues/380

[2020-01-13 18:47] kipcole9 commented on #104
Thats .... surprising. And on a fresh run of dialyzer (Elixir 1.10.0-rc.0, Erlang 22.2) I don't see this error. I'll look into it though.

[2020-01-13 19:54] kipcole9 commented on #104
I've rerun dialyzer on `ex_cldr`, `ex_cldr_numbers` and `ex_cldr_dates_times` and none of them generate this (or any) dialyzer error for me. I did clean up one outstanding dialyzer warning in `ex_cldr` but it is unrelated to this issue. Any thoughts on how to progress on this?

[2020-01-13 20:36] #99 closed

[2020-01-14 08:33] maennchen commented on #104
@kipcole9 Sorry, this should be reported in the date time cldr library. The error happens only if that one is used.

[2020-01-14 08:35] maennchen commented on #104
We basically only use two calls for date / time in our project:

* `Cldr.Date.to_string!(start_date, Acme.Cldr, format: "MM.yyyy")`
* `@creation_date |> DateTime.to_date() |> Cldr.Date.to_string!(Acme.Cldr)`

[2020-01-14 08:48] kipcole9 commented on #104
Thanks for the extra data. I'll try to reproduce in a client application - there aren't any dialyzer warnings when I run it against the lib itself.

[2020-01-14 09:42] kipcole9 commented on #104
OK, I was able to work out what the issue was in the generated backend code and the fix is in [ex_cldr_dates_times version 2.2.4](https://hex.pm/packages/ex_cldr_dates_times/2.2.4).

Making dialyzer happy with generated code is just even more "fun" on top of the usual dialyzer enjoyment. :-)

[2020-01-14 09:48] maennchen commented on #104
@kipcole9 Thank you very much! I‘ll give it a try 😊

[2020-01-14 09:56] kipcole9 commented on #104
You've pushed me to wrap my head around dialyzer and even though I'm not totally convinced it has so far helped my identify 4 bugs across all my libs. But ... the learning curve is steep!!!! The newer versions of dialixir really help because of its message formatting.

[2020-01-14 10:33] maennchen commented on #104
I tried it and this solves my issue :)

I found quite a lot of bugs using dialyzer. It helped me a lot. It's however also a pain in the ass often with very cryptic errors or no reasons on how it found an error.

[2020-05-14 16:14] syfgkjasdkn commented on #126
@kipcole9 Hi! Just to let you know, I'm getting the same error as in OP in the latest version.

[2020-05-14 16:19] syfgkjasdkn opened #134 "Using cldr with liveview"
What's the recommended way to use cldr with a liveview app? Right now I'm passign the locale into the session like this:

[code]

but it doesn't seem to work correctly since the locales are different in the ssr'ed page and when the live view mounts: in ssr the locale is correct (e.g. `en`), but then in live view it becomes `en-001`.

So I wonder what exactly should I pass into the live view sessio

[2020-05-14 17:10] syfgkjasdkn commented on #134
It's probably not really an issue, so I moved the discussion to [elixirforum](https://elixirforum.com/t/how-to-handle-localisation-in-live-view/31516).

[2020-05-14 17:10] #134 closed

[2020-05-14 21:34] kipcole9 commented on #126
@syfgkjasdkn Do you have a test case I can work on? Or at least an example you're trying that is failing?

[2020-05-15 08:30] syfgkjasdkn opened #135 "Cldr.UnknownBackendError) The backend Demo.Cldr is not known or not a backend module"
Repro: https://github.com/syfgkjasdkn/cldr-demo

Continued from https://github.com/elixir-cldr/cldr/issues/126

`mix compile` works fine, but `MIX_ENV=test mix compile` fails with

[code]

[2020-05-15 08:46] kipcole9 commented on #135
Really appreciate the repo, thank you, will work on this tonight (evening coming up in my timezone)

[2020-05-15 08:51] kipcole9 commented on #135
I suspect the the compiler isn't picking up the module dependency. So while I work on this may I suggest you try adding `require Demo.Web` to the top of `lib/demo_web/router.ex`? That will force the compiler to compile `Demo.Web` first.

[2020-05-15 08:59] kipcole9 commented on #135
Validated. In `router.ex`:
[code]
Then compile:
[code]
I'm not sure why the compiler isn't identifying the dependency earlier. Will investigate.

[2020-05-15 09:23] kipcole9 commented on #135
I have submitted [this issue](https://github.com/elixir-lang/elixir/issues/10037).

[2020-05-15 10:41] kipcole9 commented on #135
On Josés advice I've take another route that does not require changing your code. It is now on hex as [ex_cldr version 2.14.1](https://hex.pm/packages/ex_cldr/2.14.1). The changelog entry is:

### Bug Fixes

* Fix compilation order for backends configured in `Cldr.Plug.SetLocale`. Thanks to @syfgkjasdkn. Closes #135.

### Upgrading
[code]
All should be good now.  I will close this issue, let me kn

[2020-05-15 10:41] #135 closed

[2020-05-15 11:04] syfgkjasdkn commented on #135
@kipcole9 thank you!

[2020-05-15 20:14] petermm commented on #135
fwiw I had issue https://github.com/elixir-cldr/cldr/issues/126 on 2.14.0 and needed to move/copy the MyApp.Cldr module into the top of the router.ex file to compile in prod (leading to slow recompile issues in dev..)

2.14.1 fixed it🎉

[2020-05-16 03:55] kipcole9 commented on #135
@petermm, happy to hear it helped you too!  Please don't hesitate to file an issue any time if something seems awry.  I try hard to be responsive and fix bugs.  I hate bugs. And I don't want there to be a poor experience using these libs.

[2020-05-30 16:09] coladarci opened #136 "[Help] with Cldr.DateTime.Formatter is not available"
When doing this locally:
`Cldr.DateTime.to_string(~N[2020-05-28 20:48:08], format: "EE, MMM d, y")`
All works as I'd expect; I get back `{:ok, "Thu, May 28, 2020"}`

But when my app is compiled into our staging environment, the same code results in:

[code]

I'm having a hard time understanding what could lead to this working locally and in my tests but not when compiled.

This is how I am `use`in

[2020-05-30 16:25] kipcole9 commented on #136
Yes, that’s a pain.  May I ask a couple of questions?

1. Version of `ex_cldr` you’re using?  In the last couple of versions I made a small change to backend module compilation that might help. I’m not optimistic, but it’s possible. The latest is `ex_cldr` 2.15.0

2. What Mix environment are you using in staging. Is it still `:dev` Or something else?

3. How are you starting the app in staging? A

[2020-05-30 16:31] coladarci commented on #136
Thanks -

1) Mix lock: `"ex_cldr": {:hex, :ex_cldr, "2.15.0",`
2) stage is `prod` env
3) We use elixir releases

I'll push up that change but it'll take a few for me to get it into that env to test it out. I haven't seen something like this happen before; normally this bombs in travis tests when it's an issue that only affects compile-time.

[2020-05-30 16:37] kipcole9 commented on #136
Thanks much, that helps - I can work on this in a few hours (its late Saturday night here). I haven’t done any testing with releases so its about time I did that.  Although I don’t have any other issues reported across the various `cldr` libs there is clearly something going on.

One last thought, can you confirm that `Elixir.Utils.Cldr.DateTime.Formatter.beam` is in the `_build` directory?  Be su

[2020-05-30 17:06] coladarci commented on #136
Thanks! The require didn't help, and to be fair, I am using CLDR throughout w/out problem; it's just something happening w/ my new code. It feels like I'm doing something stupid; but for it to work everywhere but env prod feels like a bigger issue..

So I went into the docker file produced and you are correct; it's not there!!

[code]

[2020-05-30 17:14] kipcole9 commented on #136
Ok, well that’s a useable fact.  Perhaps try `MIX_ENV=prod mix compile —force` on your development machine and see if the beam file is there?  That’s all that comes to mind for the moment.  I’ll grab a few hours sleep and then see if I can replicate and fix.

[2020-05-30 23:27] kipcole9 commented on #136
I have created an empty app and compiled it with `MIX_ENV=prod mix compile`. The resulting BEAM files are as expected:
[code]
In comparing with what you are seeing I notice you have none of the following:
[code]
Which is a concern because it suggests that the `DateTime` backend provider isn't being compiled. Which it most definitely is on my system.

Let me know if you get a chance to `MIX_ENV=pro

[2020-05-30 23:31] coladarci commented on #136
Yes, they work when I compile w/ mix_env prod.. but they don't end up in my docker images. This wreaks of a bum cache somewhere, but I can't pinpoint it.

A few notes -

1) I'm in an umbrella APP
2) This is my Dockerfile:
[code]

Anything else I can test?

[2020-06-05 13:59] halostatue opened #137 "JSON Cache Parsing Issues sometimes"
I ran an upgrade of `ex_cldr` and some related libraries yesterday and on my CI solution, the build fails with on JSON parsing a cache file:

[code]

This does not happen locally on my computer, but as soon as I rolled back, everything built just fine.

Here’s my CLDR module:

[code]

And this is what I upgraded yesterday:

- `cldr_utils`: 2.8.0 .. 2.9.1
- `ex_cldr`: 2.13.0 .. 2.15.0
- `ex_cldr_ca

[2020-06-05 16:53] kipcole9 commented on #137
Thanks very much for the report, its appreciated although I'm sorry this is happening.  I suspect this is going to be a challenge to track down as you suggest. My test suite reads and decodes all the json files - but then my tests don't run on a wide variety of platforms.

Version `2.14.0` updated the data source to CLDR version 37 so it's conceivable thats why you see the change there. I will of

[2020-06-05 17:19] kipcole9 commented on #137
Are you able to confirm the version of `Jason` you have installed in both `dev` and `CI`?  Thanks to stack trace you provided above I know where the error is happening the json string. `<<226>>` is the first byte of several multibyte characters in UTF8.

I wonder if there is an encoding required to be set on the Ubuntu side to ensure the file is read as UTF8? That could at least account for why yo

[2020-06-05 19:44] halostatue commented on #137
The specific error has changed over builds. Here’s an earlier failure:

[code]

[code]

I can confirm that when the end of input has been hit, even tools like `jq` fail, because the JSON file is truncated.

[2020-06-05 19:47] kipcole9 commented on #137
Thats very weird. I tested in a container with the same Ubuntu release with no issues. I'm just updating my cirrus CI test matrix to do some more tests.

[2020-06-05 20:49] kipcole9 commented on #137
I build a simple repo at https://github.com/elixir-cldr/cldr_test_ubuntu and I run in in cirrus CI on Ubuntu and I can't yet reproduce which is very annoying. It doesn't fail on a local container and it doesn't fail in Cirrus CI.  Definitely something unusual.

I'll create a branch that has some additional debugging code around the locale cache which, if you are kind enough to try when you have a

[2020-06-05 20:58] kipcole9 commented on #137
The hint about `jq` results might be helpful. Can you compare the downloaded file lengths of the locales with the following on your build and CI servers?
[code]

[2020-06-05 21:00] kipcole9 commented on #137
Ahhhhhhhh I wonder! Its possible your CI has cached older versions of the json files.  The locale files are `ex_cldr` version dependent. They don't change every release, but twice a year when CLDR releases their data, I incorporate them. And from time to time I do also generate new data that gets included in the json files. So if your CI is caching them (and therefore you aren't seeing `Downloadin

[2020-06-05 21:15] halostatue commented on #137
I did an explicit cache clear, too. That‘s when I got the bad character value.

Here’s the local version:

[code]

On CI, just now:

[code]

I got another truncated situation:

[code]

[2020-06-05 21:16] halostatue commented on #137
I am not seeing `Downloading…`. I’m wondering if there’s a way to force download on builds.

[2020-06-05 21:19] halostatue commented on #137
I just did an explicit `rm -rf deps/ex_cldr/priv/cldr/locales/`.

I got the same (end of input) error, but different listing:

[code]

The only thing that I can see is being cached is the `kerl` instance I have.

I’m going to be offline tonight, so I can’t really look at this any further right now, but this is _very_ weird.

[2020-06-05 21:19] kipcole9 commented on #137
If you're not seeing "Downloading ...." then they are already found in your `_build/test/lib/ex_cldr/priv/cldr/locales` directory.

[2020-06-05 21:20] kipcole9 commented on #137
Or wherever you configure you `:cldr_data_dir` to be.

[2020-06-05 21:40] halostatue commented on #137
I’m not seeing the `Downloading` in my local Mac build, either. After `rm -rf _build/dev/lib/ex_cldr`:

[code]

[2020-06-05 21:42] halostatue commented on #137
I hadn’t removed from `deps/ex_cldr/priv/cldr/locales`, but I have done `mix deps.clean ex_cldr` and `mix deps.get` a couple of times on my local machine. Unfortunately, I’m also _not_ currently looking at the problematic version on my machine. Maybe when I’m more awake I can try this again on my local machine with the new version and completely clean caches locally, then I’ll try on CI. Tomorrow,

[2020-06-05 21:43] kipcole9 commented on #137
All good - I'll keep investigating and leaving notes here - its my way of keeping track is all.

[2020-06-05 23:07] kipcole9 commented on #137
I have published [ex_cldr version 2.16.0](https://hex.pm/packages/ex_cldr/2.16.0) that may make it easier to find the source of the issue. With this release you can:

### Overview of Changes

1. Set `CLDR_DEBUG` environment variable to turn on some logging around the locale cache and locale file access

2. Set the configuration option `force_locale_download: true` in your backend configuration to

[2020-06-06 20:59] halostatue commented on #137
OK. I’m putting a comment here as a tracking log of what I’ve done on my local machine.

1. I switched to the branch I made after cherry-picking my dependencies upgrade off of my previous build and rebased it against the current development state. This will put `ex_cldr` 2.15.0 in place. Note that this includes changes _other_ than `ex_cldr`, but I’m trying to get to a state more or less starting

[2020-06-06 21:20] halostatue commented on #137
Following your suggested triage strategy:

1. __Install `ex_cldr` 2.16.0 and test locally.__ Worked locally. Failed in CI when using my build script (which uses `kiex` and `kerl` to set specific Erlang and Elixir versions).

2. __In CI run with CLDR_DEBUG=true. If it appears locale files are in a location you did not expect, we can explore further.__ Modified my build script to set this, but it st

[2020-06-06 21:25] kipcole9 commented on #137
Ah, yes, I should have noted that I am emitting log information at `:debug` level for `CLDR_DEBUG=true`. Sorry for not mentioning that in the script.  The locale down log messages are emitted at `:info` level.

I am very perplexed still but definitely not giving up. Thats for sticking with this.

[2020-06-06 21:49] halostatue commented on #137
I made a couple of changes to the downloaded version in `deps` to remove the `if` test from `maybe_log`. Now it always does `Logger.info` because I couldn’t see any of the log messages at any time.

This is what I see now:

[code]

[2020-06-06 21:56] halostatue commented on #137
So the error is in `locales/en-001.json` and this is what `jq` reports: `parse error: Unfinished JSON term at EOF at line 1, column 346863`.

I’ve SCPed them from CI.

[2020-06-06 21:57] halostatue commented on #137
For some reason, it’s downloading 2Kb shorter than the rest of the locale files.

[2020-06-06 21:58] halostatue commented on #137
Specifically, it’s cut off after `mass_stone`.

[2020-06-06 21:58] kipcole9 commented on #137
Really appreciate the perseverance. Any chance you could zip up the `en-001.json` file you have so I can take a look. Its very very strange that its being truncated somewhere along the line.

At least with this last iteration we are closer to understanding the issue - if not yet the cause.

eIther a public URL, or feel free to email me at the email address on this repo.

[2020-06-06 22:03] halostatue commented on #137
Sure. If it’s small enough, I’ll attach it to the ticket. I’m doing one other thing. I’ve added a log message of the URL where the json file is downloaded from to the `deps/` instance so that I can try `curl`ing the JSON file to see if there’s something else going on and if it’s something weird with the CI setup.

[2020-06-06 22:07] halostatue commented on #137
Here’s the cURL output:

[code]

Curl downloaded it just fine.

[2020-06-06 22:08] halostatue commented on #137
[en-001.json.gz](https://github.com/elixir-cldr/cldr/files/4741059/en-001.json.gz)

[2020-06-06 22:08] kipcole9 commented on #137
I've been trying to think about why this one file - which isn't the largest but is larger than `root.json` isn't being fully downloaded or stored.  I can add some debug code to check the size of the downloaded file just in case its an issue between download and file save.

One very small and highly unlikely thing: I use the http header:
[code]
And actually I don't recall why I set that. If you are

[2020-06-06 22:12] kipcole9 commented on #137
Ok, your curl experiement is helpful and perhaps therefore is an issue related to early closing of the connection before the receive buffer is filled at some layer lower than `:httpc`.

Or ....... and this sounds like a possibility. I'm taking the downloaded `charlist` and converting it with `:erlang.list_to_binary/1` which may be any issue and I don't believe is necessary.

I'll work on this seco

[2020-06-06 22:16] halostatue commented on #137
I’m doing a bit more… I added logging of the `headers` and `String.length(:erlang.list_to_binary(body)` to the download.

[code]

[2020-06-06 22:19] kipcole9 commented on #137
Hmmm, not `349074` which I'd expect. Is suspect now its the use of `:erlang.list_to_binary` which is not `UTF8` aware. I have new version `1.16.1-rc.0` coming in 3 minutes.

[2020-06-06 22:19] halostatue commented on #137
Now I’m running it with `length(body)`.

[2020-06-06 22:27] halostatue commented on #137
Last thing before I need to go eat:

`22:26:21.960 [info]  349074.0`

That’s `(:erlang.list_to_bistring(body) |> :erlang.bit_size()) / 8`—and it looks the right size.

I’ll pick this up after.

[2020-06-06 22:28] kipcole9 commented on #137
Got it, thanks. Will have a new version ready when you get back.

[2020-06-06 22:33] kipcole9 commented on #137
If you do a update `mix.exs` to set `{:ex_cldr, "~> 2.16-rc", override: true}` and `mix deps.get` then that version:

1. Does not do `Connection: close` on the `:httpc` request.
2. Does not convert the `charlist` to binary before writing the locale file to disk

I appreciate this is disruptive since you've added some debug code but I think the issue may be the extraneous use of `:erlang.list_to_bi

[2020-06-06 22:51] halostatue commented on #137
I will do so. The debug code disappeared anyway because the shell session expired. I’ll do so in a couple of hours.

[2020-06-06 22:58] halostatue commented on #137
This worked in a new shell. Running a version with the changes pushed to let you know. I’m hopping offline for at least an hour, so I’ll let you know then, but it’s very promising.

[2020-06-07 01:23] halostatue commented on #137
:shipit: The build is good.

[2020-06-07 01:29] kipcole9 commented on #137
Woohoo. That was a bit of a chase. I'll push a formal release in the next 20 minutes. Really appreciate your support and collaboration.

[2020-06-07 01:35] #137 closed

[2020-06-07 01:37] kipcole9 commented on #137
Published to hex as [ex_cldr version 2.16.1](https://hex.pm/packages/ex_cldr/2.16.1).

### Changelog

#### Bug Fixes

* Do not send `Connection: close` header when downloading locales.

* Do not convert `charlist` data from `:httpc` before saving it as a locale file. Fixes an issue whereby the saved locale file is shorter than expected due to an extraneous use of `:erlang.list_to_binary/1` which i

[2020-09-30 02:55] mikl opened #138 "Hard to track down error when locale is not recognized"
I’ve managed to trace a rather curious `(FunctionClauseError) no function clause matching in String.contains?/2` that happens if you have a locale ex_cldr does not recognize.

I have the full traceback here, and the explanation for the error is below:

<details>
    <summary>Full traceback</summary>

    == Compilation error in file lib/heiweg/cldr.ex ==
    ** (FunctionClauseError) no function cl

[2020-09-30 03:07] kipcole9 commented on #138
@mikl, thanks for the report. This has been on my to-do list recently and it is indeed an insidious error. Thank you very much indeed for getting to the underlying issue - thank you.

I'll get this fixed right away - including make sure that Gettext locales are only included if there is also a corresponding CLDR locale.

I'm especially sorry you ended up diving through `Cldr.Config`. Its not the m

[2020-09-30 03:16] kipcole9 commented on #138
One more question on this topic. As I suspect you know, the locale `gsw` does exist. I have deliberately not attempted to do locale resolution in the configuration for now for two reasons:

1. It might produce unexpected results because the configured locale is not the locale that was requested.
2. `Cldr.Config` is a bit of a mess because its at the bottom of the module dependency tree - it makes

[2020-09-30 03:34] mikl commented on #138
Well, first of all, thanks for looking at it so quickly.

I wasn’t planning on actually using `gsw-CH` (or `gsw`) with Cldr, since for this application it’s only partially supported, so  the solution you first proposed (“make sure that Gettext locales are only included if there is also a corresponding CLDR locale”) would be sufficient for my purposes.

Yeah, given that this is a very edgy edge cas

[2020-09-30 10:25] #138 closed

[2020-09-30 10:41] kipcole9 commented on #138
As of [this commit](https://github.com/elixir-cldr/cldr/commit/baf27bd35053a40179aec99bba4fd42b549ddb64) I believe we now have a more robust handling of configured Gettext locales that do not exist in CLDR. I have published a new release as [ex_cldr version 2.17.2](https://hex.pm/packages/ex_cldr/2.17.2).

#### Changelog

* When configuring a Cldr backend, warn then omit any Gettext locales config

[2020-12-07 13:11] seb3s commented on #135
Hello,
I had the same issue as reported by one of my user of Kandesk
https://github.com/seb3s/kandesk/issues/4
I tried upgrading to the latest version but it still fails
  cldr_utils 2.14.0
  ex_cldr 2.18.2
  ex_cldr_calendars 1.12.0
  ex_cldr_currencies 2.8.0
  ex_cldr_dates_times 2.6.3
  ex_cldr_numbers 2.16.1

I put some logger and see I get
14:01:53.264 [info]  Module Elixir.KandeskWeb.Cldr, C

[2020-12-08 10:22] seb3s opened #141 "Some Cldr.Code.ensure_compiled? failures"
Hello,
following the https://github.com/seb3s/kandesk/issues/4 fix, I noticed that I also have some other compilations that fails with :unavailable error.

I added a log as below :
[code]

Then when running mix compile on my project (kandesk) I get this somewhere in the log :

[code]

So I suspect some code is not compiled as intended. Right now I haven't noticed any side effects but I'm not curre

[2020-12-08 11:28] kipcole9 commented on #141
[calendar_interval](https://hex.pm/packages/calendar_interval) is an optional package and depending on whether its configured in `mix.exs` certain functionality is enabled. So these particular errors are entirely expected.

For the original issue I have to debug some more because what you are seeing is unexpected. The workaround working is good. I may not get to further debugging until the weekend

[2020-12-08 15:00] kipcole9 commented on #141
Whats curious is that if I do `mix compile --force` in `:dev` mode it compiles fine (on my machine). If I `MIX_ENV=test mix compile --force` then I see the error.

Do you see the same?

[2020-12-08 15:28] seb3s commented on #141
I've got some
```16:26:58.909 [info]  module Elixir.CalendarInterval ensure_compiled error: :unavailable```
in both cases

[2020-12-08 15:32] kipcole9 commented on #141
I expect that message since you don't have `{:calendar_interval, "~> 0.2"}` in your `mix.exs`.  That's not an error.

The issue you raised was related to:

[code]

I do not get this compiling in `:dev` but I do with `:test` which is unexpected.

[2020-12-08 15:50] seb3s commented on #141
Yes I do have the same behaviour. No error in dev but only in test.

[2020-12-08 15:51] kipcole9 commented on #141
OK, thanks for confirming. At least we have consistent results!  Gives me something to think about, but probably not until the weekend; hope thats ok.

[2020-12-08 15:52] seb3s commented on #141
Yes, in the mean time, I've added
require KandeskWeb.Cldr
in router.ex as suggested.

[2021-02-10 16:44] #141 closed

[2021-02-10 16:47] gfgs58 opened #142 "ex_cldr (ArgumentError) argument error :erlang.binary_to_atom([“feminine”], :utf8)"
After updating dependencies from ex_cldr 2.18.2 to 2.19, this error comes up:

$ iex -S mix
Erlang/OTP 23 [erts-11.0.4] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]

Compiling 30 files (.ex)
Generating MyApp.Cldr for 3 locales named [“en”, “es”, “root”] with a default locale named “en”

== Compilation error in file lib/circles/cldr.ex ==
**** (ArgumentError) argument error**
**

[2021-02-10 17:14] kipcole9 commented on #142
Thanks for the report and very sorry for the inconvenience. I recognise the source of the error - which is when CLDR changed some data formats for CLDR 38.1 (which is what ex_cldr 39 is based upon, and does I think have some small changes for the "es" locale).

However when I create a new app with 2.19.0 as a dependency I can't reproduce the error and my test suite is still passing.

1. If you can

[2021-02-10 17:26] kipcole9 commented on #142
The other thing I can't work out is that I cannot find the string `["feminine"]` in either my repo master branch, or in the test app which downloads the locale files from GitHub.

As a thought, if you are able to search all the json files in your project for that string it might help.

[2021-02-10 17:56] gfgs58 commented on #142
$ grep -l -R "feminine" .
./.elixir_ls/dialyzer_tmp/.elixir_ls/build/_test/lib/circles/ebin/Elixir.Circles.Cldr.Rbnf.Ordinal.beam
./.elixir_ls/dialyzer_tmp/.elixir_ls/build/_test/lib/circles/ebin/Elixir.Circles.Cldr.Rbnf.Spellout.beam
./.elixir_ls/build/_test/lib/circles/ebin/Elixir.Circles.Cldr.Rbnf.Ordinal.beam
./.elixir_ls/build/_test/lib/circles/ebin/Elixir.Circles.Cldr.Rbnf.Spellout.beam
./.e

[2021-02-10 18:06] gfgs58 commented on #142
After:

1) mix.exs change back to {:ex_cldr, "~> 2.0"},
2) mix deps.clean ex_cldr
3) mix deps.get
4) mix deps.update --all
5) mix deps.compile
6) iex -S mix
Erlang/OTP 23 [erts-11.0.4] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]

Interactive Elixir (1.11.3) - press Ctrl+C to exit (type h() ENTER for help)
iex(1)>

No error!

[2021-02-10 22:03] kipcole9 commented on #142
Thanks very much for the collaboration. I think the error was due to an incompatible locale file living in `deps/ex_cldr/priv/locales/es.json`. But *how* the invalid data got there I have no idea.  Thats why I think `mix deps.clean ex_cldr` did the trick since in `:dev`, the locale files are stored in `deps`, not `_build`.

I will close this issue for now but please do reopen if you find that the

[2021-02-10 22:03] #142 closed

[2021-03-05 03:38] quan-nh2 opened #143 "[Spellout] Do not support for float number"
### Code:
[code]

Could you support convert from float numbers to words in the future? Thank you!

[2021-03-05 05:09] kipcole9 commented on #143
Thanks for the issue. The [Rules Based Number Formats (RBNF)](https://unicode.org/reports/tr35/tr35-numbers.html#Rule-Based_Number_Formatting) are not always complete for floating point numbers for all locales and there isn't an easy way to introspect the rules either.

However for the "en" locale, the ruleset `:spellout_cardinal` does implement floating point support.  So for example:
[code]
Hope

[2021-03-05 06:06] quan-nh2 commented on #143
So great! Thanks for you support!

[2021-03-05 06:06] #143 closed

[2021-04-07 08:31] dolfinus opened #145 "Add v2.19.1 tag"
Hello.

I've received notification from dependabot that new cldr version was released:
https://github.com/dolfinus/arkenston-backend/pull/45

But I've got an error while compiling one of my dependencies which is using "ru" locale. Cldr automatically downloads this locale from github, but it failing now:
https://github.com/dolfinus/arkenston-backend/pull/45/checks?check_run_id=2284878691
[code]

Th

[2021-04-07 08:34] kipcole9 commented on #145
Very sorry for the inconvenience. Tagged now! Thanks for the repot.

[2021-04-07 08:34] #145 closed

[2021-04-08 05:45] maennchen opened #146 "** (RuntimeError) Locale file "de" is invalid - map key "locale_display_names" was not found."
Version: `2.20.0`

Error:

[code]

The error happened in a soon-to-be-open-sourced project, I'll add @kipcole9 to the contributors so that you can have a look.

PR with Update (dependabot): https://github.com/jshmrtn/hygeia/pull/21
Failed Check: https://github.com/jshmrtn/hygeia/runs/2293523190?check_suite_focus=true

[2021-04-08 07:28] kipcole9 commented on #146
This issue happens when upgrading to a new version and for some reason the locale files for that version aren't automatically downloaded at compile time. I've only seen this happen when locale files are cached in CI/CD.  Any chance this is the case for your situation?

If the problem persists then either deleting the locale files or force downloading them are two options to resolve the issue.

[2021-04-08 07:42] maennchen commented on #146
@kipcole9 We're caching the build dir and `build_embedded` set to `true`.

I've never encountered that problem before migrating from GitLab CI to GitHub actions...

I've implemented a cache-busting method (since apparently GitHub Actions caches can't be deleted manually) and will try again.

Thanks :)

[2021-04-08 07:46] kipcole9 commented on #146
I've had one other person report the same issue so I am definitely concerned since he wasn't caching on local builds. I'm perplexed because no code in this area was touched although most definitely the locale files are all different (and do indeed include the `:locale_display_names` key which are currently unused but will be used in a new lib that will present a locale name in a localised manner f

[2021-04-08 08:50] maennchen commented on #146
I got the same error after a fresh cleared cache: https://github.com/jshmrtn/hygeia/pull/21/checks?check_run_id=2295044650

[2021-04-08 09:25] kipcole9 commented on #146
Hmmm.  Am I correct in recalling that you make use of the `:data_dir` configuration option on your backend? If so, then that is the directory that needs to be cleared.

Or alternatively, add the `force_locale_download: true` option to your backend configuration to force the locales to be downloaded. For example:
[code]

I am now working on updating the `mix cldr.install.locales <backend>` mix task

[2021-04-08 09:30] maennchen commented on #146
I get the same error locally:

* `mix deps.clean ex_cldr`
* `mix deps.get`
* `mix compile`

==>

[code]

[2021-04-08 10:01] maennchen commented on #146
@kipcole9 Never mind, I committed the locale files... Sorry for the noise.

[2021-04-08 10:01] #146 closed

[2021-04-08 10:04] kipcole9 commented on #146
Ahhhhhh. Phew. I'm just happy to get to the bottom of the issue. I will update the documentation to note the consequences of committing locales to a repo. Thanks for letting me know.

[2021-06-06 04:55] alaadahmed opened #148 "function Cldr.Gettext.Plural.nplurals/1 is undefined or private"
I was following documentation and trying to add this `use Gettext, plural_forms: Cldr.Gettext.Plural` to my `MyApp.Gettext` module, but I got this error
[code]

[2021-06-06 07:19] kipcole9 commented on #148
Sorry for the inconvenience @alaadahmed. It's a documentation error which I've now fixed to read:

## Gettext Backend Pluralization Support

There is an experimental plurals module for Gettext called `MyApp.Cldr.Gettext.Plural` (where `MyApp.Cldr` is the name of your backend module). It is configured in `Gettext` by:
[code]

Basically, in your case, use `use Gettext, plural_forms: MyApp.Cldr.Gette

[2021-06-06 07:51] kipcole9 commented on #148
Hmmm, seems to be more to it than that. I am investigating.

[2021-06-06 10:48] alaadahmed commented on #148
Yes I understand that `MyApp.Cldr` is my CLDR backend, I did actually what you said but it didn't work either.

<img width="882" alt="Screen Shot 2021-06-06 at 12 46 46" src="https://user-images.githubusercontent.com/14099508/120921750-67f68c00-c6c5-11eb-8a5c-c93ca6f93012.png">

[code]

[2021-06-06 11:01] kipcole9 commented on #148
Thanks for your patience. I've been digging deeper and there is a more fundamental issue I need to resolve relating to compile time dependencies.  I'm working on it now but it might take a day or so to finally resolve properly.  Will that timing be ok for you?

[2021-06-06 11:02] kipcole9 commented on #148
BTW so happy to see someone working in non-Latin scripts. Please do let me know if you see any other issues!

[2021-06-06 11:07] alaadahmed commented on #148
I was shocked actually with the tremendous amount of efforts you put in these packages, I am the happy one here. Sure take your time, I really appreciate your time and efforts that you will spend or spent already. Thanks you and I would report any issue if I found. I read most of documentation today at the morning and it is fascinating.

[2021-06-06 19:40] kipcole9 commented on #148
Still working on this issue. In the meantime, looking at your configuration, I think it can be a bit simpler:
[code]

[2021-06-06 19:49] alaadahmed commented on #148
Thank you, I modified them now. This is the first time for me to use CLDR in any application, but will not be last.

[2021-06-06 19:50] alaadahmed commented on #148
I thought also, if I removed `add_fallback_locales`, this will remove the `"root"` locale, but it doesn't!

[2021-06-06 19:56] kipcole9 commented on #148
You are right, the "root" locale is included no matter what you configure. Certain operations require data that is only stored in the "root" locale.

It's possible that I can't actually fix this issue since there is a compile time circular dependency.  `ex_cldr` needs the `Gettext` backend to be compiled before it so that it can find out what locales are configured on it.

The `Gettext` backend, w

[2021-06-06 19:59] alaadahmed commented on #148
Ah now I understand the reason behind that error. I hope you will reach to some solution for that.

[2021-06-06 20:08] alaadahmed commented on #148
Is it possible to tell `ex_cldr` about what locales are configured without `Gettext`, I mean enter them manually so it will be compiled successfully, as a workaround, then `Gettext` will be also compiled because `ex_cldr` already compiled!

[2021-06-07 20:15] kipcole9 commented on #148
I think you might be right.  Here's what I'm thinking (not yet proven if it will work satisfactorily):

1. If not using a custom pluralizer, then configuration stays the same - specify the module name.
2. If using a custom pluralizer, then the configuration should be a list of valid Gettext locales. To make this easy I'll add a function `Cldr.Config.gettext_locales_from_directory/1` or some such n

[2021-06-07 21:32] alaadahmed commented on #148
I am not sure really, but I wanted to use it because I have the default one with Gettext doesn't convert numbers to arabic format. For example:
I have `<%= gettext("Attach up to %{count} files", count: 3) %>`. This should be translated to 2 other languages __"Arabic"__ and __"German"__. For German there is no problem, but for Arabic, numbers appear in English i.e: `1,2,3` but I thought if I used t

[2021-06-07 21:47] alaadahmed commented on #148
<img width="413" alt="Screen Shot 2021-06-07 at 23 43 33" src="https://user-images.githubusercontent.com/14099508/121091545-71c5df80-c7ea-11eb-8ec0-dcc199607173.png">

As you see, I used `Cldr.Date.to_string` to show date in `arabic` format, and this is fantastic, but when I used `ngettext` to show the reading time, numbers still appear in English.

[2021-06-07 22:41] kipcole9 commented on #148
Ah, yes, I see your point. The thing is that `Gettext` doesn't know about scripts.  So even a custom pluralizer won't help there. I see two approaches you might consider:

1. Pre-format the number before you do message formatting. For example, instead of `<%= ngettext("1 minute read", "%{count} minutes read", read_time(post.content)) %>`, do (not tested!):
[code]
which will use `ex_cldr` to format

[2021-06-07 22:50] alaadahmed commented on #148
Thanks a lot, I will check that out. I think then you can close this issue if anyway `Cldr.Gettext.Plural` is experimental and not related to the issue.

[2021-06-07 22:52] kipcole9 commented on #148
I really appreciate you opening the issue. It identified a bug (and a lack of tests) that I need to fix and thats very helpful.

True that its unrelated to the original challenge you had but I hope the options above will help get you there.  I will close this now, and respond to the issue you raised on `ex_cldr_numbers` :-)

[2021-06-07 22:52] #148 closed

[2021-06-08 18:28] alaadahmed commented on #148
I checked the `ex_i18n` and `cldr_message` and read their documentation, but to be honest they have poor documentation! I didn't figure out how to use them, or generate translation with `ex_i18n`, should I write that json file with my hand or there is a mix command that can generate it for me like `mix gettext --merge`. The same applies for `cldr_message` doesn't really has rich documentation like

[2021-06-11 09:50] maennchen opened #149 "Undocumented Types"
When generating docs for a CLDR Module, there's a lot of referenced types, that are not available through ExDoc because they've been hidden. (Probably `@moduledoc false`)

It would be nice if all the referenced types are actually documented.

<details>

<summary>Example ExDoc Output: https://github.com/jshmrtn/hygeia/runs/2791313937?check_suite_focus=true#step:9:11</summary>

[code]

</details>

#

[2021-06-12 02:36] kipcole9 commented on #149
Good suggestion and I'll see what I can do over the weekend.

[2021-08-11 04:39] kipcole9 commented on #149
Not forgotten - just challenged on a few non-development priorities. I will definitely get these types fixed in the next release which I plan for the next 2 weeks.

[2021-08-11 04:50] kipcole9 opened #150 "Older releases can no longer download locales since Github no longer redirects between organisations"
Older releases rely on downloading locales from `https://github.com/kipcole9/cldr/.....`. The repository moved to the organization `elixir-cldr` and Github has been redirecting requests from the old organization to the new but it appears from feedback that GitHub is no longer redirecting.

This means than on older releases (at least up to 2.11.1, possibly later), locales can no longer be downloade

[2021-08-11 06:47] #150 closed

[2021-08-11 09:31] nwai90 commented on #150
@kipcole9 Thanks for this! Issue has been resolved

[2021-08-11 10:44] kipcole9 commented on #150
Happy to hear that. Please do open an issue if you see any other issues.

[2021-08-13 11:54] guidoholz opened #151 "missing json-files"
Hi,

files are missing during installation.

[error] Failed to download locale "cs" from https://raw.githubusercontent.com/kipcole9/cldr/v2.7.2/priv/cldr/locales/cs.json. HTTP Error: (404) 'Not Found'

thank you

[2021-08-13 12:13] #151 closed

[2021-08-13 12:14] guidoholz commented on #151
double issue

[2021-08-16 11:27] benkeil opened #152 "How does it work?"
It don't get where you have the locales from. Why there is a `en-GB` and no `de-DE` but only a `de` instead?

[2021-08-16 22:04] kipcole9 commented on #152
As the first paragraph of the [readme](https://hexdocs.pm/ex_cldr/readme.html#introduction) notes:

All locale data comes from [CLDR](https://cldr.unicode.org) which is hosted in [this repo](https://github.com/unicode-org/cldr).

A CLDR locale that consists only of a language is nearly always specified as "the locale for the territory that has the largest number of native speakers of that language

[2021-08-16 22:04] #152 closed

[2021-08-19 13:41] maennchen commented on #149
@kipcole9 No worries, this is not a pressing issue for me. I just thought it would be nice if this was clean long-term :)

[2021-08-19 14:14] kipcole9 commented on #149
Totally agree with you and sorry this is taken longer than I expected. I bunch of tiger maintenance activities got in the way but should al be cleared I all br cleared over this weekend.

Sent from my iPhone

[2021-08-20 13:01] kipcole9 commented on #149
I have just published:
* [ex_cldr version 2.23.1](https://hex.pm/packages/ex_cldr/2.23.1)
* [ex_cldr_units 3.7.1](https://hex.pm/packages/ex_cldr_units/3.7.1)
* [ex_cldr_calendars 1.15.2](https://hex.pm/packages/ex_cldr_calendars/1.15.2)

Based upon a test application using the same backend configuration as the one you kindly provided I believe the doc errors have now been banished.

Please do let

[2021-08-20 23:56] #149 closed

[2021-08-23 08:19] maennchen commented on #149
@kipcole9 Seems like all the errors vanished: https://github.com/jshmrtn/hygeia/runs/3397964370?check_suite_focus=true

Thanks a lot!

[2021-09-02 01:09] kipcole9 opened #153 "Cldr.known_territories/0 returns valid territories, not known"
`Cldr.known_territories/0` uses validity data. That data includes codes that are valid but not known (have localisation data). Since the status is encoded in the source data, this function should omit validity date in the "deprecated", "reserved" and "unknown" categories.

[2021-10-03 12:38] #153 closed

[2021-10-20 16:25] maennchen opened #157 "Cldr Backend `data_dir` on compile time"
When compiling, the `data_dir` is being written into the module.

https://github.com/elixir-cldr/cldr/blob/v2.23.2/lib/cldr/config/config.ex#L2518

When using releases, that is not working if the paths change on the runtime machine.

Would it be possible to leave the `data_dir` empty in the compiled config and recompute the data dir when it is needed?

[2021-10-20 16:50] LostKobrakai commented on #157
Can you expand on this? The data_dir should not be needed at runtime.

[2021-10-20 22:05] kipcole9 commented on #157
And to the original issue - yes, I think its quite reasonable to resolve `:data_dir` as required rather than statically.  Thanks for the diff, I'll aim to add this to the upcoming `2.24` release due to be published on October 27th.

[2021-11-01 06:54] josevalim opened #160 "Mistakes in DEVELOPMENT.md"
Hi @kipcole9,

I am going through DEVELOPMENT.md and I believe it must be outdated in some places.

1. `export $CLDR_REPO` must not have the `$` character

2. Some commands use `MIX_ENV=gen` but there is no such environment

3. Step "Download the up-to-date ISO currency database" does not work at that moment. I have skipped it for now.

I will drop more comments/edit as I run into things.

[2021-11-01 07:21] kipcole9 commented on #160
My apologies José, I have updated DEVELOPMENT.md (thanks for the edits) and had to adjust one of the environment compile paths. I have pushed a commit which, I think, means all is aligned again.

[2021-11-01 07:52] josevalim commented on #160
Beautiful, thank you! :heart:

[2021-11-01 07:52] #160 closed

[2021-11-21 18:40] alaadahmed opened #162 "Dialyzer show some warnings"
elixir version: __`1.13.0-rc.1`__
ex_cldr version: __`2.24.1`__

Dialyzer shows some warning on the Cldr Backend file. Warning is:
[code]

The file contain these configs
[code]

and `config.exs` contains this:
[code]

I don't know what I configured wrong, and the same configuration I used before but with elixir `1.12.3`

Thanks a lot 🙂

[2021-11-21 21:08] kipcole9 commented on #162
Thans for the report, and sorry for the inconvenience.  I ensure there are no dialyzer warnings before I publish a release but there are cases that crop up because my tests don't exercise every corner case and dialyser itself sometimes does things that no human can properly understand :-)

Anyway, I'll work on fixing this issue as quickly as I can but I'm travelling this week and it may take until

[2021-11-22 04:11] alaadahmed commented on #162
Please take your time, it's OK for me to wait till next week or more even. I just saw warning and reported, but at the moment it doesn't bother my app. Thank you 🙂

[2021-12-01 06:50] alaadahmed commented on #162
I am closing this issue, I don't have warnings anymore since updating `ex_cldr_numbers`. Thanks a lot ☺️

[2021-12-01 06:51] #162 closed

[2021-12-01 06:52] kipcole9 commented on #162
Sorry it took so long @alaadahmed - but happy that in the case dialyzer actually pinpointed a bug, rather than just making noise :-)

[2021-12-05 14:33] seantanly opened #163 "Error downloading *.json files due to missing release tag on github for v2.24.2"
Unable to download JSON files for v2.24.2. It seems to be due to the missing release tag on Github.

Version 2.24.1 - works
https://raw.githubusercontent.com/elixir-cldr/cldr/v2.24.1/priv/cldr/locales/en.json

Version 2.24.2 - fails with 404
https://raw.githubusercontent.com/elixir-cldr/cldr/v2.24.2/priv/cldr/locales/en.json

[2021-12-05 19:20] kipcole9 commented on #163
@seantanly, apologies for the inconvenience - you are right, I  hadn't tagged the release. Now done.

[2021-12-05 19:20] #163 closed

[2021-12-06 00:38] seantanly commented on #163
Thank you @kipcole9 for responding swiftly 👍

[2021-12-11 23:14] kipcole9 opened #164 "Late bind config for gettext module in an ex_cldr backend"
For the next release of [gettext](https://github.com/elixir-gettext/gettext), @maennchen has added [pluggable interpolation](https://github.com/elixir-gettext/gettext/pull/291) that means `gettext` can support alternative message formats like the [ICU message format](https://unicode-org.github.io/icu/userguide/format_parse/messages/) which is implemented in [ex_cldr_messages](https://github.com/el

[2021-12-15 14:40] gazzer82 opened #165 "en_GB causing error"
I am trying to set a locale options, as well as the default locale to en_GB, but I get the following error when starting up the Phoenix project.

 ex_cldr version 2.24.2

Here's my config:

defmodule Unipix.Cldr do
  use Cldr,
    locales: ["en_GB"],
    default_locale: "en_GB",
    providers: [Cldr.Number, Money]
end

[code]

Any pointers on where I'm going wrong here, apologies if it's something

[2021-12-15 19:38] #165 closed

[2021-12-15 19:41] kipcole9 commented on #165
I have published [ex_cldr version 2.25.0](https://hex.pm/packages/ex_cldr/2.25.0) which fixes this issues. Please run `mix deps.update ex_cldr` in your project.  The changelog entry reads:

### Bug Fixes

* Fixes configuring locales when the default locale is in posix form (ie like `en_GB`) as apposed to BCP47 form (ie `en-GB`). In fixing this bug, forming the normalised list of configured locales

[2021-12-16 09:20] gazzer82 commented on #165
Yup all working fine now, thanks so much for sorting so quickly, Merry Christmas!

[2022-02-21 10:56] maennchen opened #166 "Locale Name String => Atom Breaking Change"
The change leads to problems with [cldr_languages](https://github.com/LostKobrakai/cldr_languages).

## Error

[code]

The error can be observed here: https://github.com/jshmrtn/hygeia/pull/1247 / https://github.com/jshmrtn/hygeia/runs/5272966546?check_suite_focus=true

## Versions

[code]

## Triggering Code

https://github.com/jshmrtn/hygeia/blob/4d929ef882f6f81e720b1791279e3ed01143648a/lib/hyge

[2022-02-21 16:25] alaadahmed commented on #166
after updating deps, got this also =>

[code]

[2022-02-21 18:06] kipcole9 commented on #166
@maennchen sorry about this, I think the issue relates to `ex_cldr_languages`. I have just now sent a [PR](https://github.com/LostKobrakai/cldr_languages/pull/12) to @LostKobrakai to fix the compatibility issue. Hopefully with his agreement a new version can be released soon.

@alaadahmed Can you please open an issue on [ex_cldr_dates_times](https://github.com/elixir-cldr/cldr_dates_times) with an

[2022-02-21 19:06] alaadahmed commented on #166
yes it is dialyzer errors, 6 to be specific. That's why I didn't open issue.

<img width="595" alt="Screen Shot 2022-02-21 at 21 05 10" src="https://user-images.githubusercontent.com/14099508/155013691-8c12f0bd-da1b-4f22-b030-2ac10dd382ad.png">
.

[2022-02-24 11:31] alappe opened #167 "Locale.locale_name type"
`Cldr.put_locale/2` uses the `is_locale_name` guard:

[code]

but is typed:

[code]

where `Locale.locale_name` is typed:

[code]

I'm getting an error using `put_locale/2` with binary locale names. But reading the guard, this should be valid and the typing of `locale_name` should be `@type locale_name() :: atom() | String.t()`.

[2022-02-24 13:14] kipcole9 commented on #166
Closing this issue since both reports are for different libraries (ex_cldr_languages and ex_cldr_dates_times). Both issues are being worked on.

[2022-02-24 13:14] #166 closed

[2022-02-24 13:18] #167 closed

[2022-02-24 13:22] kipcole9 commented on #167
Fixed in commit [e075eb081]( https://github.com/elixir-cldr/cldr/commit/e075eb081e3623c707cb6b185b24377e5e1db032) and published as [ex_cldr version 2.26.2](https://hex.pm/packages/ex_cldr/2.26.3) with the following changelog entry:

### Bug Fixes

* Fix spec of `Cldr.put_locale/2`. Thanks to @alappe for the report. Closes #167.

Thanks for the report and collaboration and apologies for the inconve

[2022-03-01 20:24] LostKobrakai opened #169 "`Cldr.LanguageTag.parse` expects binary"
`Cldr.LanguageTag.parse` expects binary, but the documentation says it accepts items returned from `Cldr.known_locale_names`, which seems to return a list of atoms with `2.26`.

[2022-03-01 20:47] LostKobrakai commented on #166
@kipcole9 @maennchen I just released a new version of ex_cldr_languages. I want to make sure that while the string -> atom locale switch caused the error mentioned in the issue, it was ultimately caused by incorrect usage:

[code]

Using the language as the locale only worked by accident given both languages and locales were identified by strings.
Locales changes to be identified by atoms, languag

[2022-03-01 21:40] #169 closed

[2022-03-01 21:48] kipcole9 commented on #169
Thanks @LostKobrakai for the report, much appreciated. Fixed and published a new version of the docs.

[2022-03-02 09:59] kipcole9 commented on #166
@maennchen, the canonical approach is to use `MyApp.Cldr.validate_locale/1`. This takes an atom, string or `Cldr.LanguageTag.t` and returns the `Cldr.LanguageTag.t`.  The language tag element `:cldr_locale_name` then holds the CLDR locale being used.

It was not my intention to introduce breaking changes (except for ex_cldr libraries, which have been updated) so I will check your link and see wher

[2022-03-02 12:35] maennchen commented on #166
@kipcole9 I did not know about `validate_locale`, that mostly did the trick.

I'm left with only one dialyzer error:

[code]

[2022-03-02 20:39] LostKobrakai commented on #166
@maennchen I just published another version, which should fix the dialyzer error.

[2022-03-08 09:49] dkln opened #170 "Compilation error in lib/cldr/config/rbnf_config.ex"
First of all: thanks for this awesome hex package 💪

When I upgrade to 2.27.0 I get the following compilation error:

[code]

I am using Elixir 1.13.0 and OTP 24. Occurs on both OSX (12.2.1) and Debian (11.x)
Is this is a bug or am I missing some configuration?

[2022-03-08 10:16] #170 closed

[2022-03-08 10:19] kipcole9 commented on #170
Thanks for the report and many apologies for the inconvenience. A really terrible error that resulted from leaking context from a development environment into the hex package.  I have retired `2.27.0` and published [ex_cldr version 2.27.1](https://hex.pm/packages/ex_cldr/2.27.1).  The changelog entry is:

### Bug Fixes

* Don't depend on CLDR product data being available at compile time. Eggregiou

[2022-03-08 10:22] maennchen opened #171 "Compile Error of ex_cldr 2.27.0"
Error:

[code]

https://github.com/maennchen/athena/runs/5462301948?check_suite_focus=true

[2022-03-08 10:24] kipcole9 commented on #171
Fixed in [ex_cldr version 2.27.1](https://hex.pm/packages/ex_cldr/2.27.1). Also reported by @[dkln](https://github.com/dkln) in https://github.com/elixir-cldr/cldr/issues/170

Very sorry for the inconvenience, that was just sloppy on my part.

[2022-03-08 10:24] #171 closed

[2022-03-08 10:24] dkln commented on #170
Not a problem! Thanks for the fix and all the hard work on this hex package 👍

[2022-03-08 10:39] maennchen commented on #171
@kipcole9 Oops, sorry for the duplicate.

[2022-04-06 05:58] OnigiriJack opened #172 "Compilation error when migrationg to 2.28.0"
backend file:
[code]
![Screen Shot 2022-04-06 at 14 57 57](https://user-images.githubusercontent.com/35797565/161905350-a70ddbc7-82de-4794-a4bc-84feaab16d70.png)

[2022-04-06 06:01] kipcole9 commented on #172
@OnigiriJack that error looks like you might not have updated `ex_cldr_units` to version 3.13.0?  Typically is better to configure only the dependant packages in `mix.exs` and have `ex_cldr` pulled in as a transitive dependency.

Are you able to share your `mix.exs` and `mix.lock`?

[2022-04-06 06:19] OnigiriJack commented on #172
[code]

[code]

[2022-04-06 06:36] OnigiriJack commented on #172
I bumped ex_cldr_numbers to 2.25.0 and ex_cldr_units to 3.12.0. This seemed to fix it.

[2022-04-06 06:46] kipcole9 commented on #172
Glad to hear that @OnigiriJack. I would recommend removing `ex_cldr` from your `def deps()` leaving the following (with `ex_cldr_numbers` at `2.26.0` and `ex_cldr_units` at `3.13.0`):
[code]

[2022-04-06 06:46] #172 closed

[2022-04-06 06:54] OnigiriJack commented on #172
Thank you that is great advice😇

[2022-05-09 16:33] juanperi opened #175 "RBNF missing after upgrading"
I've updated from 2.25.2 to 2.26.0, and suddenly I started seeing the following error for `nb` locale:
[code]
This was not happening in the previous version, though, where I would get:
[code]

Is this a bug? or is it related to the upgrade to release 41 (Update [CLDR](https://cldr.unicode.org) to [release 41] as per the changelog) and it is expected that we might lose access to localized numbers a

[2022-05-09 19:56] kipcole9 commented on #175
@juanperi , as of [commit 3ad972](https://github.com/elixir-cldr/cldr/commit/3ad972b0bb8e5534b84c90f9e546245ffcd260db), RBNF locale name resolution now inherits from a parent locale if there is one (and the parent for "nb" is "no" which does have RBNF data).  [Commit 687fb5](https://github.com/elixir-cldr/cldr/commit/687fb533fa3cd55941b2c6706accc9fab3bf264a) regenerates the known language tags and

[2022-05-09 21:32] kipcole9 commented on #175
Turns out it wasn't that difficult to fix. But I greatly appreciate the encouragement, it really helps with motivation.

I have published [ex_cldr version 2.29.0](https://hex.pm/packages/ex_cldr/2.29.0) with the following changelog entry:
[code]
I'll leave this issue open for a little bit in case there is an issue I didn't find in testing.

Appreciate your collaboration!

[2022-05-10 19:11] juanperi commented on #175
in production already! working as expected!!

thank you very much!

have a nice day 😊

[2022-05-11 16:32] kipcole9 commented on #175
Great to hear, thanks for the feedback. Closing!

[2022-05-11 16:32] #175 closed

[2022-06-05 14:18] ringofhealth opened #178 "cldr routes for liveview"
how does one add support for localization of liveview routes?

[code]

[2022-07-06 09:17] dolfinus opened #179 "Cannot compile v2.31.0"
I've updated package version to 2.31.0, but got a complation error:
[code]

This is because tag `v2.31.0` is missing in the repo

[2022-07-06 09:17] dolfinus commented on #179
@kipcole9 Could you please take a look?

[2022-07-06 09:45] kipcole9 commented on #179
My apologies, thats very sloppy of me.  Release tag added.

[2022-07-06 09:45] #179 closed

[2022-07-06 10:31] dolfinus commented on #179
Maybe the release process should be changed to avoid such issues? For example, make build and push package after a git tag is been pushed

[2022-07-11 07:54] kipcole9 opened #180 "Implement MyApp.Cldr.with_locale/2"
Currently implemented only as `Cldr.with_locale/3`, should also be implemented on the backend module.

[2022-07-11 08:32] kipcole9 commented on #180
Added in https://github.com/elixir-cldr/cldr/commit/b1b946ba07a13ccaaa8319dfbe63ed6f822238ec

[2022-07-11 08:32] #180 closed

[2022-08-02 04:18] simoncocking opened #182 "Compilation issue with Elixir 1.14.0-rc.0"
Hi,

We're testing Elixir `1.14.0-rc.0` and have run into an apparent issue with `ex_cldr`. We have:
- `ex_cldr 2.32.1`
- `OTP 25.0`

and we're hitting the following compilation error:

[code]

Our config:
[code]

Our backend:
[code]

Compiling under Elixir `1.13.4-otp-25` is fine.

[2022-08-02 05:34] kipcole9 commented on #182
Fixed in [ex_cldr version 2.33.0](https://hex.pm/packages/ex_cldr/2.33.0). Sorry for the delay, was on a flight when Elixir 1.14.0-rc.0 was released and I didn't want to publish this release of `ex_cldr` until then.

Please report back if all is OK for you with this release. I'll hold the issue open until then.

[2022-08-02 06:52] simoncocking commented on #182
Hi Kip,

Thanks for the lightning fast response! Confirming that yes, 2.33.0 does resolve the issue. Thanks again!

[2022-08-02 06:52] #182 closed

[2022-08-04 17:57] SebastienPlourde opened #183 "Documentation - typos in readme file"
Hi,

Not a big deal but for those like me who do copy&paste of config

In
`def deps do
  [
    {:ex_cldr, "~> 2.29},
    {:ex_cldr_plugs, "~> 1.0"},
    ...
  ]
end
 `

We should read

`def deps do
  [
    {:ex_cldr, "~> 2.29"},
    {:ex_cldr_plugs, "~> 1.0"},
    ...
  ]
end
 `
Notice the " is missing.

[2022-08-04 20:46] #183 closed

[2022-08-04 20:47] kipcole9 commented on #183
Thanks for the report, fixed now and updated docs have been published.

[2022-08-19 06:11] michelson opened #184 "github actions SSL error"
Hello there, I'm using a `cldr`  library (`ex_cldr_dates_times`) which downloads some data from `raw.githubusercontent,` this works on development but when I run this on Github actions I get an SSL error:

[code]

here is the build with the error: https://github.com/rauversion/rauversion-phx/runs/7912634783?check_suite_focus=true

is there a way to bypass this installation?

[2022-08-19 06:20] kipcole9 commented on #184
@michelson Thanks for the report and sorry for the inconvenience.  Having the locale data available is critical and unavoidable - its the source of data that drives the whole `ex_cldr` ecosystem.

One way to possibly avoid this is if you check the locales into your repo (the default directory where locales will be located is `:code.priv_dir(otp_app)` or `:code.priv_dir(:ex_cldr)`.

It looks like t

[2022-08-19 06:30] kipcole9 commented on #184
One other thought, since its reporting an SSL handshake error (and I really have no domain expertise in this area), is to include either `{:certifi, "~> 2.9"}` or `{:castore, "~> 0.1.18"}` as dependencies. The locale installer will use the certificates from these in preference to the built-in certificates on your host machine.

[2022-08-19 07:01] LostKobrakai commented on #184
Alternatively you could try explicitly updating the OS level certificates.

[2022-08-19 14:23] michelson commented on #184
Hi! thanks for the quick reply, I've added the {:certifi, "~> 2.9"} or {:castore, "~> 0.1.18"} dependences but I get the same error, also I've updated the system certs in ubuntu with `sudo apt-get install ca-certificates -y` but didn't solve the issue.

How can I check the locales in the repo? I've done the following but the locales are not checked out in the repo:

[code]

[2022-08-19 15:07] tdtadeu commented on #184
We ran into the same issue and apparently updating the project to OTP 25 solved it and unblocked our CI pipeline.

Is this something you can consider doing?

[2022-08-19 15:14] LostKobrakai commented on #184
https://elixirforum.com/t/github-ci-down-is-it-working-for-you/49661 maybe there's some issue/changes on github's side?

[2022-08-19 18:33] michelson commented on #184
Thank you all. Upgrade to opt 25 did solve the issue. Super weird, though.

[2022-08-19 18:40] kipcole9 commented on #184
Thanks for the update @michelson; I'll add some notes to the readme in case other people have this issue.

[2022-08-19 19:01] sergiotapia commented on #184
We had to make this change to unclog the CI on github.

[code]

[2022-08-20 03:23] WillRaben commented on #184
I'm experiencing this exact error when building using the official debian bullseye image for elrang 24.3.4; I'm looking for a workaround to avoid upgrading to OTP 25.
I've manually copied the locales from a successful compile to the container's deps/ex_cldr-2.23.0/priv/  it does seem to compile by account of not trying to hit github through httpc, but then another app that has ex_cldr in its depen

[2022-08-20 03:40] kipcole9 commented on #184
@WillRaben, I think if you add the `:data_dir` option to the *global* config in `config.exs` then all the libraries will share that configuration (although I will say that not 100% certain since this is hard to test properly).

I am working on an `env` var to disable TLS checking as an option and should have that release out in the next couple of hours. It seems a reasonable thing to help this sit

[2022-08-20 04:21] kipcole9 commented on #184
I have published [ex_cldr version 2.33.1-rc.0](https://github.com/elixir-cldr/cldr/releases/tag/v.2.33.1-rc.0) that changes HTTPS request handling slightly. In particular it applies the ERLF guidelines around cypher configuration.  Based on the error message that may be the issue so any feedback would be welcome.

Next step, if required, is to add an `CLDR_UNSAFE_HTTPS` environment variable to dic

[2022-08-20 12:23] WillRaben commented on #184
@kipcole9
The release candidate that changes the httpc request handling fixes the compile issue without needing to upgrade to OTP 25

By replacing
`{:ex_cldr, "~> 2.0"}`

With:
`{:ex_cldr, git: "https://github.com/elixir-cldr/cldr.git", tag: "v.2.33.1-rc.0", override: true},`

_override: true_ was needed because of a dependency in the package **ex_cldr_territories** that has {:ex_cldr, "~> 2.0"} i

[2022-08-20 21:42] michelson commented on #184
Hi @WillRaben, the context of the build: OTP 24 and Elixir 13
This was the failing build: https://github.com/rauversion/rauversion-phx/runs/7912634783?check_suite_focus=true
Let me know if you need to know any additional information.

[2022-08-20 22:10] kipcole9 commented on #184
@WillRaben, using a GitHub branch as a dependencies won't actually download anything since the locales are all in the repo. To test whether this is a solution your deps should look like:
[code]

That will then certainly show if downloading is now working on the GitHub CI platform.

[2022-08-20 22:12] kipcole9 commented on #184
The deprecations most like coming from `ex_cldr_territories` if it hasn't been updated to change the calls that raise the warnings.  If that's the case I'll work with @Schultzer to update `ex_cldr_territories` to remove the deprecations.  The deprecations are "harmless" for the purposes of testing the locale installation issue.

[2022-08-20 22:38] WillRaben commented on #184
Ah, I see, TIL.  No wonder the build got noticeably bigger.

I just ran the build without the github branch and unfortunately, the error returned and it failed to compile.

`#46 167.9 22:27:10.879 [notice] TLS :client: In state :hello_middlebox_assert at ssl_gen_statem.erl:736 generated CLIENT ALERT: Fatal - Unexpected Message`
`#46 167.9  - {:unexpected_msg, {:internal, {:encrypted_extensions, %{

[2022-08-20 23:51] kipcole9 commented on #184
Thanks for the update.  I will implement the environment variable later today my time as an escape hatch (may take up to 18 hours for me to get to this and publish).

Sent from my iPhone

[2022-08-21 19:54] kipcole9 commented on #184
[cldr_utils version 2.19.0](https://hex.pm/packages/cldr_utils/2.19.0) now supports the environment variable `CLDR_UNSAFE_HTTPS`.  The changelog entry reads:

### Enhancements

* Sets SNI option for SSL connections

* Supports `CLDR_UNSAFE_HTTPS` environment variable option which, if set to anything other than `FALSE`, `false`, `nil` or `NIL` will not perform peer verification for HTTPS requests.

[2022-08-22 17:19] WillRaben commented on #184
@kipcole9  Thanks for staying on top this.

Ok, so I've tested the CLDR_UNSAFE_HTTP approach with our umbrella app, and I am very confused by the results:

In the builder(Fly.io), I am getting this logged out from mix deps.compile:

[code]

But then once one of the apps that requires ex_cldr starts compiling, it looks like it tries to hit github again without going through cldr_utils.

[code]

The

[2022-08-22 18:35] kipcole9 commented on #184
Would you mind running `mix hex.outdated` and paste the results? It *sounds* like `ex_cldr` is still at `2.33` not `2.33.1` but this is the quickest way to find out.

[2022-08-22 22:08] WillRaben commented on #184
I've temporarily added  `mix hex.outdated --all` to the build steps right after deps.get, like so:

[code]

Here's the output from `hex.outdated --all`:

[code]
Looks like it's picked up correctly 2.33.1

[2022-08-22 23:18] kipcole9 commented on #184
Nothing is downloaded until your `SmartyStreets.Core.CldrHelper` is compiled and that's where the error is occurring. And I'm out of ideas since it appears the issue isn't related to verifying the peer but something more fundamental in the networking stacks of either erlang or Ubuntu and debugging that is well beyond my ability.

I is possible to statically include the locales in your repo so you

[2022-08-22 23:30] kipcole9 commented on #184
@voltone, please accept my apologies for invoking your name but I'm struggling to even find a direction to investigate with this issue.

[The issue](https://github.com/elixir-cldr/cldr/issues/184) seems to be related to Ubuntu, Github Actions and some versions (not OTP 25) of the `:ssl` app.  The issue is resolved by upgrading to OTP 25 but not all users can do that.  The issue does not appear to

[2022-08-22 23:59] WillRaben commented on #184
Providing the actual locale files so it doesn't download seemed like the sane thing to do to me too, specially in the face of updating to OTP 25 being an easy fix (at least in our case, because we are on OTP 24.3.4, we just need to run some more tests).  I just couldn't figure out what the proper folder needed to be.  I tried  `smarty_streets/priv/locales` and `smarty_streets/priv`, also in the ex

[2022-08-23 01:07] kipcole9 commented on #184
@WillRaben the following configuration stores the locales in a user-defined place. I would recommend you set that place to a directory that all dependent apps and all umbrella apps can point to and make sure that directory is committed as part of the repo.
[code]

[2022-08-23 06:30] voltone commented on #184
This may be related to https://github.com/erlang/otp/pull/6037, in which case it should also have been fixed in 24.3.4.1.

Alternatively, this particular scenario appears to relate to a TLS 1.3 handshake. You can limit the handshake to 1.2 by adding `versions: [:"tlsv1.2"]` to your ssl options, which you may want to do on OTP <25, since there were quite a few 1.3 interop issues in those older vers

[2022-08-23 06:38] kipcole9 commented on #184
Super helpful @voltone, thank you very much indeed.

[2022-08-23 06:50] kipcole9 commented on #184
@WillRaben I have push [this commit](https://github.com/elixir-cldr/cldr_utils/commit/309ceab5e06538fafc431271b8c25cde72a35e99) to restrict the TLS version to 1.2 on OTP releases < 25.  Fingers crossed.  Its a small library so perhaps you can try this from GitHub:
[code]
Let me know if that moves us forward?

[2022-08-23 12:56] WillRaben commented on #184
I am happy to report that this allowed the build to complete successfully. Reduced about 280mb from the resulting image. Thanks!

Would be great to hear for the github actions end of this issue, looks like it would fix things there too.

As a side note, I tried the approach you suggested with the additional configuration and having the previously downloaded locales placed in /app/locales folder an

[2022-08-23 15:03] kipcole9 commented on #184
Great to hear @WillRaben, I've published [cldr_utils version 2.19.1](https://hex.pm/packages/cldr_utils/2.19.1) with this fix so you are good to revert to using Hex. Closing now although I am confused as to why the configuration approach didn't work.

[2022-08-23 15:03] #184 closed

[2022-08-25 12:10] WillRaben commented on #184
Not sure why the configuration approach failed either. It was pretty straight forward. I changed `SmartyStreets.Core.CldrHelper` to include the necessary code that you provided. Set the env variable to point to /app/locales folder, copied the downloaded locales there and  it still tried to reach github.

It did pick the new config up when compiling though, because I saw the IO.inspect message repo

[2022-08-29 11:34] nicolasblanco opened #185 "A "und" locale IS being added automatically in my project"
Hello!

Thank you for this great project.

I'm just wondering why there is a "und" locale being added automatically to my project, I have no ideas what it is.

My config is simply:

[code]

When I'm running the app, I'm getting:

[code]

[2022-08-30 03:08] kipcole9 commented on #185
@nicolasblanco thanks for the report. The `und` locale is what used to be called the `root` locale. And while its not a locale that can be set it does contain fallback information that us used in various places in `ex_cldr`. So `und` is required and is force configured. This makes the message confusing as you say.  Would it be better to omit `und` from the compilation message so you don't see anyt

[2022-08-30 07:08] LostKobrakai commented on #185
I'm curious, why the name changed from `root` to `und`?

[2022-08-30 08:24] kipcole9 commented on #185
I don't actually know the formal reason. But `und` is the standard CLDR way of representing undefined. And since the `root` locale (now `und` locale) does not represent any known language  so I suppose its a reasonable normalisation.  At the time of this change, `und` also became the standard way to represent `undefined` in other parts of CLDR too.

[2022-09-09 23:06] #185 closed

[2022-09-14 23:32] setop commented on #184
I think I have a workaround.

I'm in elixir 1.13 (Erlang/OTP 24) and I need ex_cldr 2.25.0.

After reading [this](https://github.com/elixir-cldr/cldr#downloading-locales), I changed the dependency in `mix.exs` to point to gihhub instead of hex :

[code]

So the system - git command on alpine - contacts github and not Erlang.

It make my application compile. I haven't done a full non-regression tes

[2022-09-14 23:37] kipcole9 commented on #184
Since installing from GitHub will download the whole repo (which is not a small one!), including all the locales, it will work because it won't ever try to download locales from GitHub. So definitely ok as a working solution as long as you recognise the payload from GitHub is substantial!

[2022-09-14 23:38] kipcole9 commented on #184
I'd also be very interested to know what requires that you use `2.25.0`?  If there is a regression on later releases that prevents you updating then I would definitely want to fix that.

[2022-09-14 23:39] WillRaben commented on #184
[as kipcole9 pointed out here](https://github.com/elixir-cldr/cldr/issues/184#issuecomment-1221420245)

You'll be getting all the locales, even the ones you don't use.

[2022-09-15 00:40] setop commented on #184
True ! 275MB and 3 minutes to git clone.

So I made an other workaround : download the tar from github, untar and remove locales I don't need. Saved me 2:59 minutes and 250MB :-)

[2022-09-15 00:43] setop commented on #184
Well, it seems that at some point (after 2.25 and before 2.33), the type of a locale has changed from string to atom. This is quite impactful on my code. I'll change that in a later version of my app so I can use up to date libraries.

[2022-09-15 01:57] kipcole9 commented on #184
Apologies for making extra work for you.  That was the "last" step in normalising the fields of the `Cldr.LanguageTag.t` struct to be atoms for fixed cardinality data and string for variable cardinality.

I didn't expect that user code would typically access the internal fields of the `Cldr.LanguageTag.t` struct so if there is a way to do a better job to improve compatibility with your existing co

[2022-09-15 07:22] setop commented on #184
That's very nice of you but you don't owe me any apology. Managnin dependencies is part of the job.

I'm maintaing a former branch of an application for which the main branch has already the code to handle the change of type. I'm good with the fix I found.

If you want more details : commit 951508d953a8013820f910b411b504e9e82529b9 (25/01/22 05:50:37 +0800), between 2.25 and 2.26 introduced the cha

[2022-10-03 15:58] austinh opened #187 "compile configuration mismatch compiletime vs runtime"
Im getting the following error when compiling a release in prod (does not happen in dev)

[code]

my config.exs contains this:
[code]

my cldr.exscontains this:
[code]

This is running in Docker with this base image
[code]

[2022-10-03 17:03] kipcole9 commented on #187
@austinh definitely unexpected behaviour!  While I look into why this is happening would you consider removing the `json_library` config from both the `config.exs` and the backend configuration?

`ex_cldr` will (is expected to) derive the `json_library` automatically from the `phoenix` configuration if there is one. That will hopefully get you moving forward why I work out what is causing the mism

[2022-10-03 17:05] kipcole9 commented on #187
Oh, also you say:

Did you mean `cldr.exs`?  The file should be `cldr.ex`

[2022-10-03 17:34] austinh commented on #187
Sorry yes this file is correctly named cldr.ex - just a typo.

I cant share mix.exs because it's a corporate project, and many of the dependencies are hosted on internal hex servers.

However, I can confirm that this happens with compiling just ex_cldr. Running only `MIX_ENV=prod mix deps.compile ex_cldr` seems to do it. If I then switch to env to dev, recompile again, I still get the error. But i

[2022-10-03 17:37] austinh commented on #187
Ive removed all references to json_library and any ex_cldr config, and still getting the error 😭

[2022-10-03 17:46] kipcole9 commented on #187
Thanks for the update and I'm sorry you're having this issue.  Is `poison` configured in your `mix.exs` at all?  I'm trying to work out how this can even be  returned unless its a least configured.

[2022-10-03 17:52] kipcole9 commented on #187
Anything in you `config/runtime.exs` that relates to `ex_cldr`?  The error message would seem to indicate there may be something there?

[2022-10-03 17:57] austinh commented on #187
`poison` is configured yes.

We dont have a `config/runtime.exs`

[2022-10-03 18:07] austinh commented on #187
Update:  I realized we still had Poison set and installed from a previous dependency, it was no longer needed, and I've removed it from deps and did a fresh clean build, still getting the same error, just this time Poison is no longer involved.

[code]

[2022-10-03 18:21] kipcole9 commented on #187
Thanks, that helps a little bit. But I'm surprised to see there is a compile time value set because that directly implies there is a `config :ex_cldr, json_library: Jason` somewhere being found.

Would you mind `MIX_ENV=prod iex -S mix` and then seeing what results you get to the following three calls?  The ones below come from a new app with only a backend module and only `:ex_cldr` and `:Jason`

[2022-10-03 18:43] austinh commented on #187
Unfortunately trying to run that just creates the same error, because `mix` will try to compile the app and it will fail.

[2022-10-03 19:03] austinh commented on #187
Further interesting finds. When running in MIX_ENV=dev with _no_ ex_cldr config set anywhere.
I get this error.
[code]

When running in MIX_ENV=prod (after clearing all build artifacts), _with_ ex_cldr config set just in config.exs. I get this error.
[code]

Notice how first one says compile time was set and not runtime.
but second one says compile time was not set, but runtime was.

[2022-10-03 20:13] austinh commented on #187
I solved it! Looks like it's an issue with my Dockerfile and why I was having difficulty reproduce locally. If config.exs is not copied over _before_ `mix deps.compile` - then it will fail. My docker file had mix deps.compile directly before a `COPY config ./config` - but ive fixed this. Thanks for helping me look into it.

[2022-10-03 20:13] #187 closed

[2022-10-03 22:06] kipcole9 commented on #187
Ahhhh, the will most certainly do it!  The config is needed at compile time in order to be able to parse the locale JSON files.  Thanks for getting to the bottom of this and for the feedback.  If this happens again it will be quicker to resolve the problem for sure!

[2022-10-24 09:30] rubas opened #188 "2.34: Compile error `map key "person_names" was not found.`"
We can't compile `ex_cldr` anymore after update to `2.34`. The locales don't see to be updated automatically.
[code]

# Changelog

[2022-10-24 09:31] rubas commented on #188
Deleting `rm -rf priv/cdlr` trigger a dowload of the updates locales.

[2022-10-24 09:32] rubas commented on #188
But we also have `force_locale_download` only enabled for `prod`.

[code]

[2022-10-24 11:17] kipcole9 commented on #188
Until I can work out why this is happening (and I've tried everything I can think of to reproduce it without success)  I recommend:
[code]
before running any `mix deps.upgrade`.

In addition, I recommend not including `{:ex_cldr, "~> .....}`  directly in your `mix.exs`.  Only put the domain libraries in there and have them put the correct `:ex_cldr` transitively.

[2022-10-30 04:44] ardhitama commented on #188
happened to me as well after upgrading from `2.33.2` to  `2.34.0`

my mix:
[code]

`mix deps.clean ex_cldr` doesn's solve the problem, deleting `priv/clrd/locales/*` solved it.

stack:

[code]

[2022-11-07 09:17] alappe commented on #188
Yes, same here, also without a direct dependency on `ex_cldr`.
Should the .json files be excluded from vcs?

[2022-11-07 09:47] kipcole9 commented on #188
I apologies that you’re having this issue.  And especially that I can’t figure out why it is happening - I am unable to reproduce it.

Upgrading (directly or transitively) on every system I’ve tried completely replaces the `deps/ex_cldr` directory and therefore removes the locales associated with the old version. Then, when compiling, the missing locale results in a download of the version that is

[2022-11-07 09:56] alappe commented on #188
Absolutely no need to apologize :-)

I did not set the `data_dir` but I noticed that the downloaded files are in `apps/my_app/priv/cldr/locales`, not in `deps/ex_cldr/…`. This at least might explain while it's not being replaced automatically. Also, the .json files have been committed to vcs in my case. I just removed them now. I can't explain why the files are located there though…

macOS 12.6.1

[2022-11-16 15:58] beerlington commented on #188
I just ran into this with another person on my team after upgrading to `2.34`. Forcing the locale download updated the "es" locale file and allowed us to compile. I'm on macOs 12.6, Elixir 1.13.2, and OTP 24.3.4.

Our configuration looks like this:

[code]

Changing to this temporarily fixed it:

[code]

[2022-11-18 04:24] ardhitama commented on #188
@kipcole9 no need to apologize, this problem is just a mere annoyance behind much bigger effort you've put into.

1. Which operating system?
`Ubuntu 22.04.1 LTS` on `WSL2`
2. Which Elixir release?
`IEx 1.14.1 (compiled with Erlang/OTP 25)`
3. Which OTP release?
`Erlang/OTP 25 [erts-13.1.2] [source] [64-bit] [smp:24:24] [ds:24:24:10] [async-threads:1] [jit:ns]`
4. Do you set either `:data_dir` or `

[2022-11-22 11:14] Malian commented on #188
Same issue here locally. When I deploy to production, I do not have an issue. Removing the `fr.json` file fixed the issue locally.
My configuration is the same as @ardhitama.